{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %}Criar perfil | {% endblock %}

{% block conteudo %}

<style>
    .fundo {
        width: 100%;
        min-height: 100%;

        background: #009bff;
        background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
        background: -o-linear-gradient(left, #0072ff, #00c6ff);
        background: -moz-linear-gradient(left, #0072ff, #00c6ff);
        background: linear-gradient(left, #0072ff, #00c6ff);

        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fundo2 {
        background-color: #fff;
    }

    p {
        font-family: Garamond, Arial;
        font-size: 19px;
    }

    .borda {
        border-radius: 30px;
    }
</style>

<div class="card shadow border fundo">
    <div class="card-body borda">
        <div class="row">
            {% if not request.user.is_authenticated %}
            <div class="col-lg-12">
                <div class="card shadow border fundo2">
                    <div class="card-body">

                        <h1 class="text-center" style="font-family: Copperplate, Arial;">Login</h1>
                        <br>

                        <p class="text-center">
                            Se você já fez cadastro, basta entrar com seu usuário e senha abaixo:
                        </p>
                        <br>

                        <form method="POST" action="{% url 'perfil:login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="InputUsuario1">Usuário</label>
                                <input type="text" name='username' class="form-control" id="InputUsuario1"
                                    aria-describedby="usuarioHelp" placeholder="Digite seu usuário">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Senha</label>
                                <input name='password' type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Digite sua senha">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg"
                                style="margin-top: 25px;">Entrar</button>
                        </form>

                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-lg-12 mt-3">
                <div class="card shadow border fundo2">
                    <div class="card-body borda">

                        {% block titulocadastro %}
                        <h1 class="text-center" style="font-family: Copperplate, Arial;">Cadastro</h1>
                        <br>

                        <p class="text-center">
                            Caso ainda não tenha cadastro, utilize o formulário abaixo para se cadastrar:
                        </p>
                        <br>
                        {% endblock %}

                        <form method="POST" , action="">
                            {% csrf_token %}
                            {{ userform|crispy }}
                            {{ perfilform|crispy }}

                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}