{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}Criar perfil | {% endblock %}

{% block conteudo %}

<div class="card shadow border ml-2 mr-2">
    <div class="card-body" style="padding: 5px;">
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 mx-auto">
                <form class="" method="POST" action="{% url 'perfil:criar' %}">
                    {% csrf_token %}
                    {% block titulocadastro %}
                    <span class="contact1-form-title mt-5">
                        Cadastro
                    </span>

                    <span class="contact1-form-title mt-3 text-muted mb-5" style="font-size: 18px;">
                        Caso ainda não tenha cadastro, utilize o formulário abaixo para se cadastrar:
                    </span>
                    {% endblock %}

                    {{ userform|crispy }}
                    {{ perfilform|crispy }}

                    <div class="container-contact1-form-btn mt-4">
                        <button class="contact1-form-btn" type="submit">
                            <span>
                                {% block botaoCadastro %}Cadastrar{% endblock %}
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <span class="contact1-form-title mt-4" style="font-size: 17px;">
                        já tem cadastro?
                        <a href="{% url 'perfil:entrar' %}" style="color: #525252;">
                            <u>entrar</u>
                        </a>
                    </span>
                    <span class="contact1-form-title mt-3" style="font-size: 14px;">
                        Ao continuar com o cadastro, você concorda com a nossa
                    </span>
                    <span class="contact1-form-title mb-5" style="font-size: 14px;">
                        <a href="{% url 'suporte:privacidade' %}" style="color: #525252;">
                            <u>política de privacidade</u>
                        </a>
                    </span>
                </form>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}