{% extends 'parciais/_carrinho.html' %}
{% load static %}
{% load omfilters %}

{% block posicaoImagemTabela %}

<style>
    .tamMobileTabelaProdutoModal {
        width: 180px;
    }

    .tamanho-imagem-carrinho-modal2 {
        width: 120px;
        height: 140px;
        margin-left: 30px;
    }

    .info-produto-tabel2 {
        margin-left: 5px;
        margin-top: 10px;
    }

    @media (max-width: 767px) {
        .tamMobileTabelaProduto {
            width: 200px;
        }

        .info-produto-tabela {
            margin-left: 5px;
        }

        .info-qtd2 {
            margin-top: 55px;
            font-size: 1rem;
        }
    }

    @media (max-width: 500px) {
        .tamanho-imagem-carrinho-modal2 {
            margin-left: 30px;
        }

        .tamMobileTabelaProduto {
            width: 150px;
        }

        .tamanho-imagem-carrinho {
            margin-left: 28px;
        }

        .info-produto-tabela {
            margin-top: 10px;
            font-size: 1rem;
            margin-left: 2px;
        }

        .tamMobileTabelaProduto {
            width: 150px;
        }

        .info-qtd2 {
            margin-top: 35px;
            text-align: center;
            font-size: 1rem;
        }

        .info-preco-total-produto {
            margin-top: 45px;
            font-size: .9rem;
        }

        .posMobileTituloTabela {
            margin-left: 25px;
        }

        .tamTabelaQtd {
            width: 140px;
        }

        input {
            margin-top: 7px;
            width: 30px;
        }
    }

    @media (max-width: 431px) {
        .tamanho-imagem-carrinho-modal2 {
            margin-left: 30px;
        }

        .tamMobileTabelaProduto {
            width: 150px;
        }

        .tamanho-imagem-carrinho {
            margin-left: 28px;
        }

        .info-produto-tabela {
            margin-top: 10px;
            font-size: 1rem;
            margin-left: 2px;
        }

        .info-qtd2 {
            margin-top: 45px;
            text-align: center;
            font-size: .9rem;
        }

        .tamanho2 {
            font-size: .4rem;
        }
    }
</style>

<img class="img-fluid tamanho-imagem-carrinho-modal2 mt-1" src="{{ linha_carrinho.imagem }}">

{% endblock %}

{% block tamMobileTabelaProduto %}
<td class="tamMobileTabelaProdutoModal">
    {% endblock %}

    {% block tamanhoLetraNome %}

    <div class="info-produto-tabel2">
        <a class="nome-produto-modal" href="{% url 'produto:detalhe' linha_carrinho.slug %}"
            style="color: #262727; text-decoration: underline; margin-top: 0px; font-size: 1.1rem; font-weight: 500;">
            {{ linha_carrinho.produto_nome }}</a>

        {% endblock %}

        {% block tamanhoPreco %}

        {% if linha_carrinho.preco_unitario_promocional %}
        <span class="preco-antigo-tabela" style="font-size: 0.75rem;">
            <strike>R$ {{ linha_carrinho.preco_unitario }}</strike></span>
        <span class="preco-atual-tabela" style="font-size: 0.9rem; font-weight: bold;"> R$
            {{linha_carrinho.preco_unitario_promocional}}</span>
        {% else %}
        <span class="preco-atual-tabela" style="font-size: 0.95rem; font-weight: bold;">
            R$ {{ linha_carrinho.preco_unitario }}
        </span>
        {% endif %}

        {% endblock %}

        {% block quantidade %}
<td class="tamTabelaQtd">
    <div class="info-margin-top">
        <div class="info-qtd2 text-center">
            {{ linha_carrinho.quantidade }}
        </div>
    </div>
</td>
{% endblock %}

{% block precoProduto %}
<td class="tamTabelaPreco tamanho2" style="width: 110px;">
    <div class="info-margin-top">
        <div class="info-preco-total-produto">
            {{ linha_carrinho.preco_quantitativo_promocional|formata_preco }}
        </div>
    </div>
</td>
{% endblock %}