{% load static %}

<footer class="bg-primary">
    <div class="container text-light pt-3 mt-4">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>

            <div class="col text-right">
                <p class="">Made By Eduardo Brandão

                    <a href="https://www.linkedin.com/in/eduardombrandao/">
                        <img style="width: 30px; height: 30px; " class=""
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDsN5i8bCjqal079EJP4B4RgUs1EtyXB8lgRyXFjV9e3Q4Sox-cSljFQ7YeHbyrGTjh5k&usqp=CAU">
                    </a>
                    <a href="https://github.com/EduardoBran?tab=repositories">
                        <img style="width: 29px; height: 29px;" class=""
                            src="https://www.pikpng.com/pngl/m/256-2562286_github-logo-png-github-clipart.png">
                    </a>

                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>