{% load static %}

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify" style="color: #DCDCDC;">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                    Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                    quia non numquam eius modi
                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>


            <div class="col-xs-6 col-md-3">
                <h6>Categorias</h6>
                <ul class="footer-links">
                    {% for categoria in categorias %}
                    <li>
                        <a class="dropdown-item" href="{% url 'produto:categoria' categoria.nome_cat %}" name="buscar"
                            style="color: #DCDCDC;">
                            {{ categoria.nome_cat }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li>
                        <a href="/" style="color: #DCDCDC;">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'produto:lista' %}" style="color: #DCDCDC;">Produtos</a>
                    </li>
                    <li>
                        <a href="{% url 'suporte:privacidade' %}" style="color: #DCDCDC;">Política de Privacidade</a>
                    </li>
                    <li>
                        <a href="{% url 'suporte:termos' %}" style="color: #DCDCDC;">Termos de Uso</a>
                    </li>
                    <li>
                        <a href="{% url 'suporte:contato' %}" style="color: #DCDCDC;">Contato</a>
                    </li>
                    <li>
                        <a href="{% url 'suporte:sobre' %}" style="color: #DCDCDC;">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="text-center">
                    <a href="/">
                        <img src="https://i.postimg.cc/PrVBvKWQ/unique-todo-1.png" height="200" />
                    </a>
                </div>

            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="copyright-text text-center" style="color: #fff;">
                    Unique
                    <a href="https://www.linkedin.com/in/eduardombrandao/" style="color: #fff;">

                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- carregando js do nav -->
<script src="{% static 'assets/custom/js/nav.js'%}"></script>

<!-- carregando js do formulario de contato -->
<script src="{% static 'js/formularioContato.js'%}"></script>

<!-- carregando js do formulario de cadastro -->
<script src="{% static 'js/formularioCriar.js'%}"></script>

<!-- carregando ícones -->
<script src="https://kit.fontawesome.com/979f4dc9a1.js" crossorigin="anonymous"></script>