{% load omfilters %}

<style>
    .btn .bx {
        vertical-align: inherit;
        margin-top: -3px;
        font-size: 1.15rem;
    }

    .form-control {
        height: calc(2.5rem + 2px);
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }

    .btn {
        font-size: 1rem;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
    }

    .bx.icon-single {
        font-size: 1.5rem;
    }

    .form-inline .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-inline .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {}

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .form-inline .form-control {
            width: 210px;
        }
    }

    /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) {
        .form-inline .form-control {
            width: 440px;
        }
    }

    /* Extra large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
        .form-inline .form-control {
            width: 600px;
        }
    }

    .sub-menu.navbar-light .navbar-nav .active>.nav-link,
    .sub-menu.navbar-light .navbar-nav .nav-link.active,
    .sub-menu.navbar-light .navbar-nav .nav-link.show,
    .sub-menu.navbar-light .navbar-nav .show>.nav-link {
        border-bottom: 3px solid #007bff;
        color: #007bff;
    }

    .navbar .navbar-toggler {
        border: none;
    }

    .navbar-light .navbar-toggler:focus {
        outline: none;
    }

    .navbar {
        padding: 1rem;
    }

    .main-menu {
        position: relative;
        z-index: 3;
    }

    .sub-menu {
        position: relative;
        z-index: 2;
        padding: 0 1rem;
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
        .sub-menu {
            padding: 0 1rem;
        }

        .sub-menu.navbar-expand-md .navbar-nav .nav-link {
            padding: 1rem 1.5rem;
        }
    }

    .navbar.bg-light {
        background: #fff !important;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .user-dropdown .nav-link {
        padding: 0.15rem 0;
    }

    #sidebar {
        background: #fff;
        height: 100%;
        left: -100%;
        top: 0;
        bottom: 0;
        overflow: auto;
        position: fixed;
        transition: 0.4s ease-in-out;
        width: 84%;
        z-index: 5001;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        padding: 1.25rem 1rem 1rem;
    }

    #sidebar.active {
        left: 0;
    }

    #sidebar .sidebar-header {
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 1.5rem;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 40px;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px 16px;
        font-size: 1.1em;
        display: block;
        color: #000;
    }

    #sidebar ul li a:hover {
        color: #7386d5;
        background: #fff;
    }

    #sidebar ul li.active>a,
    #sidebar a[aria-expanded="true"] {
        color: #007bff;
        background: #e6f2ff;
        border-radius: 6px;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    #sidebar .links .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    section {
        padding: 6rem;
        background: #e4e4e4;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: -1;
        width: 100%;
        opacity: 0;
    }

    .overlay.visible {
        opacity: 1;
        z-index: 5000;
    }

    /* .mobiHeader .menuActive~.overlay {
    opacity: 1;
    width: 100%;
} */

    ul.social-icons {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    ul.social-icons li {
        display: inline-block;
        margin-right: 0px;
        margin-bottom: 0;
    }

    #sidebar ul.social-icons li a {
        font-size: 24px;
    }

    .utility-nav {
        background: #e4e4e4;
        padding: 0.5rem 1rem;
    }

    .utility-nav p {
        margin-bottom: 0;
    }

    .search-bar {
        position: relative;
        z-index: 2;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
    }

    .search-bar .form-control {
        width: calc(100% - 45px);
    }

    .avatar {
        border-radius: 50%;
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 8px;
    }

    .avatar.avatar-xs {
        width: 2.25rem;
        height: 2.25rem;
    }

    .user-dropdown .dropdown-menu {
        left: auto;
        right: 0;
    }
</style>

<div class="overlay"></div>

<nav class="navbar navbar-expand-md navbar-light bg-light main-menu" style="box-shadow:none">
    <div class="container">

        <button type="button" id="sidebarCollapse" class="btn btn-link d-block d-md-none">
            <i class="fas fa-bars me-1"></i>
        </button>

        <a class="navbar-brand" href="/">
            <h4 class="font-weight-bold">UNIQUE</h4>
        </a>

        <ul class="navbar-nav ml-auto d-block d-md-none">
            <li class="nav-item">
                <a class="btn btn-link" href="{% url 'produto:carrinho' %}">
                    <i class="fas fa-shopping-cart"></i>
                    {% if request.session.carrinho %}
                    <span class="badge badge-danger">{{ request.session.carrinho|qtd_total_carrinho }}</span>
                    {% else %}
                    <span class="badge badge-danger">0</span>
                    {% endif %}
                </a>
            </li>
        </ul>

        <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0 mx-auto" method="GET" action="{% url 'produto:busca' %}">
                <input class="form-control" type="search" placeholder="Buscar por produtos..." aria-label="Search"
                    name="termo" value="{{ request.GET.termo }}">
                <button class="btn btn-success my-2 my-sm-0" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

            <ul class="navbar-nav">

                <li class="nav-item" style="margin-right: 20px;">
                    <a class="btn btn-link" href="{% url 'produto:carrinho' %}"><i class="fas fa-shopping-cart"></i>
                        {% if request.session.carrinho %}
                        <span class="badge badge-danger">
                            {{ request.session.carrinho|qtd_total_carrinho }}
                        </span>
                        {% else %}
                        <span class="badge badge-danger">0</span>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item ml-md">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'perfil:criar' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Atualizar
                    </a>
                    <a class="btn btn-danger" href="{% url 'perfil:logout' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Logout
                    </a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'perfil:criar' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Login / Registro
                    </a>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produto:lista' %}">Produtos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Suporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'suporte:privacidade' %}">Política de Privacidade</a>
                        <a class="dropdown-item" href="{% url 'suporte:termos' %}">Termos de Uso</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suporte:contato' %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suporte:sobre' %}">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="search-bar d-block d-md-none" style="margin-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-inline mb-3 mx-auto" method="GET" action="{% url 'produto:busca' %}">
                    <input name="termo" value="{{ request.GET.termo }}" class="form-control" type="search"
                        placeholder="Busca por produtos..." aria-label="Search">
                    <button class="btn btn-success" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10 pl-0">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'perfil:criar' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Atualizar
                    </a>
                    <a class="btn btn-danger" href="{% url 'perfil:logout' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Logout
                    </a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'perfil:criar' %}">
                        <i class="fa-solid fa-circle-user mr-1"></i>
                        Login
                    </a>
                    {% endif %}
                </div>

                <div class="col-2 text-left">
                    <button type="button" id="sidebarCollapseX" class="btn btn-link">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled components links">
        <li class="active">
            <a href="/"><i class="fa-solid fa-house mr-3"></i> Home</a>
        </li>
        <li>
            <a href="{% url 'produto:lista' %}"><i class="fa-solid fa-briefcase mr-3"></i> Produtos</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa-solid fa-circle-question mr-3"></i>
                Suporte
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="{% url 'suporte:privacidade' %}">Política de Privacidade</a>
                </li>
                <li>
                    <a href="{% url 'suporte:termos' %}">Termos de Uso</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{% url 'suporte:contato' %}"><i class="fa-solid fa-phone mr-3"></i> Contato</a>
        </li>
        <li>
            <a href="{% url 'suporte:sobre' %}"><i class="fa-regular fa-face-smile mr-3"></i></i> Sobre</a>
        </li>
    </ul>

    <h6 class="text-uppercase mb-1">Categorias</h6>
    <ul class="list-unstyled components mb-3">
        {% for categoria in categorias %}
        <li>
            <a href="{% url 'produto:categoria' categoria.nome_cat %}" name="buscar">
                {{ categoria.nome_cat }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <ul class="social-icons">
        <li><a href="#" target="_blank" title=""><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa-solid fa-envelope"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa-brands fa-instagram"></i></a></li>
    </ul>

</nav>

<script>
    $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
            $("#sidebar").addClass("active");
        });

        $("#sidebarCollapseX").on("click", function () {
            $("#sidebar").removeClass("active");
        });

        $("#sidebarCollapse").on("click", function () {
            if ($("#sidebar").hasClass("active")) {
                $(".overlay").addClass("visible");
                console.log("it's working!");
            }
        });

        $("#sidebarCollapseX").on("click", function () {
            $(".overlay").removeClass("visible");
        });
    });

</script>
<script src="https://kit.fontawesome.com/979f4dc9a1.js" crossorigin="anonymous"></script>