<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'produto:lista' %}">Produtos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        Suporte
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'suporte:privacidade' %}">Política de Privacidade</a>
                        <a class="dropdown-item" href="{% url 'suporte:termos' %}">Termos de Uso</a>
                        <a class="dropdown-item" href="{% url 'suporte:perguntas' %}">Perguntas Frequentes</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suporte:contato' %}">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'suporte:sobre' %}">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>