{% load static %}
<!doctype html>
<html lang="pt">

<head>
    {% include 'parciais/_head.html' %}
    <title>{% block titulo %}{% endblock %}E-commerce</title>
</head>

<body style='background-color: #f1f1f1;'>
    {% block nav %}{% include 'parciais/_nav.html' %}{% endblock %}
    {% block conteudoHome %}{% endblock %}
    {% block conteudoPageDetalhe %}{% endblock %}
    
    <main class="container mt-4 mb-4">
        {% include 'parciais/_messages.html' %}
        {% block conteudo %}{% endblock %}
    </main>

    {% include 'parciais/_footer.html'%}
    
    <!-- Go to Top Link -->
    {% include 'parciais/_gototop.html' %}
        
</body>

</html>