.logo-conteudo {
    padding: 10px;
}

.logo-conteudo i {
    color: #343a40;
}

.imagemLogo {
    width: 100%;
}

.conteudo {
    margin-top: 28px;
    margin-bottom: 20px;
    padding: 14px;
}

.conteudo p {
    font-family: Garamond, Arial;
    font-size: 20px;
}

.conteudo h2 {
    font-family: Copperplate, Arial;
}

.conteudo h3 {
    font-family: Copperplate, Arial;
}

.conteudo h4 {
    font-family: Copperplate, Arial;
}

.conteudo h5 {
    font-family: Copperplate, Arial;
}