@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300&display=swap');

.product-price-block {
    font-size: 1.5rem;
}

.product-price {
    font-size: 1.5rem;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 1rem;
}

.border-top-light-custom{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

ul.errorlist  {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    font-size: 13px;
    color: red;
    display: block;
}

ul.errorlist li {
    display: block;
    font-weight: bold;
}

.form-group textarea {
    width: 100%;
}
.nav-cart, .nav-cart a {
    color: #fff;
    text-decoration: none;
}
.cart-img {
    max-width: 150px;
}

::selection {
    background-color: #17a2b8;   
    color: #fff;
}

input {
    caret-color: #17a2b8;
}