{% extends 'base.html' %}

{% load omfilters %}
{% load static %}

{% block titulo %}Sua Conta{% endblock %}

{% block conteudo %}

<style>
    .texto-titulo-conta {
        margin-top: 15px;
    }

    .conteudo-menu {
        padding: 12px;
        background-color: white;
        margin-top: 14px;
        margin-bottom: 14px;
        border-radius: 20px;
    }

    .conteudo-menu,
    .conteudo-baloes a {
        color: #262727;
    }

    .texto-menu {
        margin: auto;
        font-weight: 400;
        color: #262727;
    }

    .padding-baloes {
        padding-right: 30px;
        padding-left: 30px;
    }

    .coluna-baloes-esq {
        background-color: white;
        border-radius: 20px;
        border-right: 5px solid #f1f1f1;
    }

    .coluna-baloes-esq a {
        color: #262727;
        text-decoration: none;
    }

    .coluna-baloes-dir {
        background-color: white;
        border-radius: 20px;
        border-left: 5px solid #f1f1f1;
    }

    .coluna-baloes-dir a {
        color: #262727;
        text-decoration: none;
    }

    .conteudo-baloes {
        text-align: center;
    }

    .texto-baloes {
        font-family: inherit;
        font-weight: bold;
        text-rendering: optimizelegibility;
        box-sizing: border-box;
        letter-spacing: .25em;
        line-height: 1;
        color: #555;
        text-transform: uppercase;
        font-size: .975rem;
    }

    .texto-baloes-small {
        font-family: inherit;
        text-rendering: optimizelegibility;
        box-sizing: border-box;
        line-height: 1;
    }

    @media (max-width: 999px) {
        .texto-titulo-conta {
            text-align: center;
        }
    }

    /* @media (max-width: 700px) {
        .texto-titulo-conta {
            text-align: center;
        }
    } */
</style>

<div class="row mb-4">
    <div class="col-12">
        <h2 class="texto-titulo-conta">Sua conta</h2>
    </div>
</div>

<div class="row mb-5">

    <!-- menu -->
    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
        <a href="{% url 'pedido:lista' %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Pedidos</p>
            </div>
        </a>
        {% for favorito in favoritos %}
        <a href="{% url 'pedido:favoritos' favorito.id %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Favoritos</p>
            </div>
        </a>
        {% endfor %}
        <a href="{% url 'perfil:criar' %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Cadastro</p>
            </div>
        </a>
        <a href="{% url 'suporte:perguntas' %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Perguntas</p>
            </div>
        </a>
        <a href="{% url 'suporte:privacidade' %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Privacidade</p>
            </div>
        </a>
        <a href="{% url 'perfil:logout' %}" style="text-decoration: none;">
            <div class="conteudo-menu">
                <p class="lead text-center texto-menu">Logout</p>
            </div>
        </a>
    </div>
    <!--end menu-->

    <!-- espaçamento -->
    <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>

    <!-- balões -->
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mt-3 padding-baloes">
        <div class="row">
            <div class="col-6 coluna-baloes-esq">
                <a href="{% url 'pedido:lista' %}" title="clique para ver seus pedidos">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-regular fa-file-lines fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <span class="texto-baloes">PEDIDOS</span>
                            <p><small class="texto-baloes-small">clique para ver lista de favoritos</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 coluna-baloes-dir">
                {% for favorito in favoritos %}
                <a href="{% url 'pedido:favoritos' favorito.id %}" title="clique para ver seus favoritos">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-regular fa-heart fa-lg fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12">
                            <span class="texto-baloes">FAVORITOS</span>
                            <p><small class="texto-baloes-small">clique para ver lista de favoritos</small></p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <!--end row 1 baloes-->

        <div class="row mt-3">
            <div class="col-6 coluna-baloes-esq">
                <a href="{% url 'perfil:criar' %}" title="clique para alterar seus dados">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-regular fa-pen-to-square fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 conteudo-baloes">
                            <span class="texto-baloes">CADASTRO</span>
                            <p><small class="texto-baloes-small">clique para alterar seus dados</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 coluna-baloes-dir">
                <a href="{% url 'perfil:criar' %}" title="clique para alterar seus dados de endereço">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-solid fa-location-dot fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 conteudo-baloes">
                            <span class="texto-baloes">ENDEREÇO</span>
                            <p><small class="texto-baloes-small">clique para alterar seu endereço</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end row 2 baloes-->

        <div class="row mt-3">
            <div class="col-6 coluna-baloes-esq">
                <a href="{% url 'suporte:perguntas' %}" title="clique para ver perguntas e respostas">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-regular fa-circle-question fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 conteudo-baloes">
                            <span class="texto-baloes">PERGUNTAS</span>
                            <p><small class="texto-baloes-small">clique para ver perguntas e respotas</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 coluna-baloes-dir">
                <a href="{% url 'suporte:privacidade' %}" title="clique para ver sobre política de privacidade">
                    <div class="row conteudo-baloes">
                        <div class="col-12 mt-3 mb-3">
                            <i class="fa-solid fa-shield-halved fa-lg fa-2xl" aria-hidden="true"></i>
                        </div>
                        <div class="col-12 conteudo-baloes">
                            <span class="texto-baloes">PRIVACIDADE</span>
                            <p><small class="texto-baloes-small">clique para ver política de privacidade</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!--end row 3 baloes-->
    </div>
    <!-- end col baloes-->
</div>
<!--end row todos baloes-->

{% endblock %}