{% extends 'base.html' %}

{% block titulo %}Favoritos de {{ user }} | {% endblock %}

{% load omfilters %}

{% block conteudo %}

<style>
    @media (max-width: 500px) {
        .cart-img {
            width: 95px;
            height: 115px;
        }
    }

    @media (max-width: 400px) {
        .cart-img {
            width: 85px;
            height: 105px;
        }
    }
</style>

<div class="row">
    <div class="col">
        <h3 class="mb-4">Favoritos de {{ user }}</h3>
        <p>Abaixo todos os seus produtos favoritos adicionados na loja.</p>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Preço Promo</th>
                </tr>
                {% if produto_favorito %}
                {% for linha in produto_favorito.itemfavorito_set.all %}
                <tr>
                    <td>
                        <a class="ml-1" href="#" style="margin-right:-20px;">
                            <i class="fa-solid fa-heart-circle-minus posIconeExcluir iconeExcluir"
                                aria-hidden="true"></i>
                        </a>
                        <img class="cart-img" src="{{ linha.imagem }}">
                    </td>
                    <td>
                        <a href="{% url 'produto:detalhe' linha.slug %}"
                            style="color: #262727; text-decoration: underline;">{{ linha.produto }}
                        </a>
                    </td>
                    <td>{{ linha.preco }}</td>
                    <td>{{ linha.preco_promocional }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% include 'parciais/_pagination.html' %}

{% else %}

<p class="lead text-center" style="font-weight: 350;">Você ainda não tem produtos favoritados :(</p>

{% endif %}

{% endblock %}