{% extends 'base.html' %}

{% block titulo %}Favoritos de {{ user }} | {% endblock %}

{% load omfilters %}

{% block conteudo %}

<style>
    .texto-titulo {
        font-weight: 400;
        font-size: 2.2rem;
    }

    .texto-sub-titulo {
        font-size: 1.2rem;
    }

    .posIconeExcluir {
        background-color: #fff;
        border: 1px solid #cfcfcf;
        border-radius: 100%;
        box-shadow: 4px 4px 4px -2px rgb(145 145 145 / 55%);
        cursor: pointer;
        height: 30px;
        padding: 7px;
        position: absolute;
        width: 30px;
        z-index: 9;

    }

    .iconeExcluir {
        color: #262727;
        margin: 0;
        overflow: hidden;
    }

    .img-produto-favorito {
        width: 130px;
        height: 150px;
    }

    .msgSemProdutos {
        display: none;
    }

    .msgSemProdutos .lead {
        color: red;
        font-size: 1.4rem;
    }

    @media (max-width: 500px) {

        .texto-titulo {
            font-size: 1.8rem;
            text-align: center;
        }

        .texto-sub-titulo {
            font-size: 1.05rem;
            text-align: center;
        }

        .posIconeExcluir {
            left: 6px;
        }

        .img-produto-favorito {
            width: 95px;
            height: 115px;
        }

        .msgSemProdutos .lead {
            font-size: 1.1rem;
        }
    }

    @media (max-width: 400px) {
        .img-produto-favorito {
            width: 85px;
            height: 105px;
        }

        .posIconeExcluir {
            left: 2px;
        }

        .msgSemProdutos .lead {
            font-size: 1rem;
        }
    }
</style>

<div class="mb-3">
    <a href="{% url 'pedido:conta' %}" style="color: #262727;">
        Início</a><span style="color: #939393;">
        <i class="fa-solid fa-2xs fa-angles-right"></i> Lista de Favoritos
    </span>
</div>

<div class="row">
    <div class="col">
        <p class="lead mb-4 texto-titulo">Olá <span style="text-decoration: underline;">{{ user.first_name }}</span>
        </p>
        <p class="lead mb-4 texto-sub-titulo">Aqui está a lista com todos os seus produtos favoritos.</p>

        <div class="table-responsive text-center mt-3">
            <table class="table">
                <tr>
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Preço Promo</th>
                </tr>
                {% for linha in produto_favorito.itemfavorito_set.all %}
                <tr id="conteudo-tabela-favoritos">
                    <td>
                        <a class="" href="{% url 'produto:removerfavorito' linha.slug %}">
                            <!-- style="margin-right:-20px;"> -->
                            <i class="fa-solid fa-heart-circle-minus posIconeExcluir iconeExcluir" aria-hidden="true"
                                title="remover produto"></i>
                        </a>
                        {% if linha.imagem %}
                        <img class="cart-img img-produto-favorito" src="{{ linha.imagem }}">
                        {% else %}
                        <img class="cart-img img-produto-favorito"
                            src="https://i.postimg.cc/265tP6FY/produto-sem-foto.jpg">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'produto:detalhe' linha.slug %}"
                            style="color: #262727; text-decoration: underline;">{{ linha.produto }}
                        </a>
                    </td>
                    <td>{{ linha.preco }}</td>
                    <td>{{ linha.preco_promocional }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="text-center msgSemProdutos">
            <p class="lead">Você não possui produtos na sua lista de favoritos.</p>
        </div>
    </div>
</div>

{% include 'parciais/_pagination.html' %}

<script>

    let tabela = document.getElementById('conteudo-tabela-favoritos')
    let msg_sem_produtos = document.querySelector(".msgSemProdutos"); //setAttribute apenas com querySelector

    if (tabela == null) {
        console.log('tabela vazia')
        msg_sem_produtos.setAttribute('style', 'display: inline');
    }

</script>


{% endblock %}