{% extends 'base.html' %}

{% block titulo %}Favoritos de {{ user }} | {% endblock %}

{% load omfilters %}

{% block conteudo %}

<style>
    .img-produto-favorito {
        width: 130px;
        height: 150px;
    }

    @media (max-width: 500px) {
        .img-produto-favorito {
            width: 95px;
            height: 115px;
        }
    }

    @media (max-width: 400px) {
        .img-produto-favorito {
            width: 85px;
            height: 105px;
        }
    }
</style>

<div class="row">
    <div class="col">
        <h3 class="mb-4">Favoritos de {{ user }}</h3>
        <p>Abaixo todos os seus produtos favoritos adicionados na loja.</p>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Preço Promo</th>
                </tr>
                {% for linha in produto_favorito.itemfavorito_set.all %}
                <tr>
                    <td>
                        <a class="ml-1" href="{% url 'produto:removerfavorito' linha.slug %}"
                            style="margin-right:-20px;">
                            <i class="fa-solid fa-heart-circle-minus posIconeExcluir iconeExcluir"
                                aria-hidden="true"></i>
                        </a>
                        <img class="cart-img img-produto-favorito" src="{{ linha.imagem }}">
                    </td>
                    <td>
                        <a href="{% url 'produto:detalhe' linha.slug %}"
                            style="color: #262727; text-decoration: underline;">{{ linha.produto }}
                        </a>
                    </td>
                    <td>{{ linha.preco }}</td>
                    <td>{{ linha.preco_promocional }}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% include 'parciais/_pagination.html' %}

{% endblock %}