{% load omfilters %}
{% load static %}

<body>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 364px; left: 488px; width: 207px; height: 15px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 358px; left: 486px; width: 212px; height: 9px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 337px; left: 483px; width: 216px; height: 22px;">
        <img src="http://www.sicadi.com.br/mhouse/boleto/images/boleto3_I0002.jpg" alt="" width="216" height="22">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 337px; left: 486px; width: 96px; height: 10px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 337px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 313px; left: 209px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 313px; left: 277px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 359px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 401px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 422px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 337px; left: 483px; width: 0px; height: 191px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 444px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 465px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 486px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 507px; left: 483px; width: 217px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 528px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 380px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 380px; left: 271px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 401px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 401px; left: 145px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 380px; left: 358px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 380px; left: 325px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 600px; left: 35px; width: 665px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 288px; left: 31px; width: 669px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 340px; left: 588px; width: 107px; height: 17px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 380px; left: 18px; width: 682px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 337px; left: 700px; width: 0px; height: 22px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 59px; left: 488px; width: 207px; height: 15px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 53px; left: 486px; width: 212px; height: 9px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 32px; left: 483px; width: 216px; height: 22px;">
        <img src="https://i.postimg.cc/5yZGmTL1/fundo-cinza.jpg" alt="boleto3_I0001.jpg" width="216" height="22">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 32px; left: 486px; width: 96px; height: 10px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 32px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 8px; left: 209px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 8px; left: 277px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 54px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 96px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 117px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 32px; left: 483px; width: 0px; height: 191px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 139px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 160px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 181px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 202px; left: 483px; width: 217px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 223px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 75px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 75px; left: 271px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 96px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 96px; left: 145px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 75px; left: 358px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 75px; left: 325px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 35px; left: 588px; width: 107px; height: 17px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 75px; left: 18px; width: 682px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 32px; left: 700px; width: 0px; height: 22px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 674px; left: 488px; width: 207px; height: 15px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 668px; left: 486px; width: 212px; height: 9px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 647px; left: 483px; width: 216px; height: 22px;">
        <img src="https://i.postimg.cc/5yZGmTL1/fundo-cinza.jpg" alt="boleto3_I0002.jpg" width="216" height="22">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 647px; left: 486px; width: 96px; height: 10px;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 647px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 623px; left: 209px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 623px; left: 277px; width: 0px; height: 24px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 669px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 711px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 732px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 647px; left: 483px; width: 0px; height: 191px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 754px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 775px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 796px; left: 483px; width: 216px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 817px; left: 483px; width: 217px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 838px; left: 19px; width: 681px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 901px; left: 18px; width: 682px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 690px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 690px; left: 271px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 711px; left: 101px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 711px; left: 145px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 690px; left: 358px; width: 0px; height: 42px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 690px; left: 325px; width: 0px; height: 21px; border-Left: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 987px; left: 36px; width: 664px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #C0C0C0; position: absolute; top: 650px; left: 588px; width: 107px; height: 17px;">
    </div>

    <!-- código de barras -->
    <div align="left" style="font: 0pt; position: absolute; top: 909px; left: 26px; width: 405px; height: 62px;">

        <img src="https://i.postimg.cc/rF8DhKBx/codigo.png" height="50" width="376" alt="">

        <!-- <img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="3"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif"
            width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="3"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="3"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="3" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="1" height="50"
            border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif" width="1"
            height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif"
            width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img
            src="images/b.gif" width="3" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1"
            height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif"
            width="1" height="50" border="0"><img src="images/b.gif" width="1" height="50" border="0"><img
            src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3" height="50"
            border="0"><img src="images/p.gif" width="3" height="50" border="0"><img src="images/b.gif" width="3"
            height="50" border="0"><img src="images/p.gif" width="1" height="50" border="0"><img src="images/b.gif"
            width="1" height="50" border="0"><img src="images/p.gif" width="3" height="50" border="0"><img
            src="images/b.gif" width="1" height="50" border="0"><img src="images/p.gif" width="1" height="50"
            border="0"> -->

    </div>
    <!-- end código de barras -->

    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 690px; left: 18px; width: 682px; height: 0px; border-top: 1px solid #000000;">
    </div>
    <div align="left"
        style="font: 0pt; background-color: #FFFFFF; position: absolute; top: 647px; left: 700px; width: 0px; height: 22px; border-Left: 1px solid #000000;">
    </div>
    <div align="left" style="font: 0pt; position: absolute; top: 8px; left: 701px; width: 11px; height: 276px;"><img
            src="https://i.postimg.cc/TYDBP2vP/texto-lateral.jpg" alt="boleto3_I0005.jpg" width="11" height="276"></div>
    <div align="left" style="font: 0pt; position: absolute; top: 323px; left: 701px; width: 11px; height: 276px;"><img
            src="https://i.postimg.cc/TYDBP2vP/texto-lateral.jpg" alt="boleto3_I0006.jpg" width="11" height="276"></div>
    <div align="left" style="font: 0pt; position: absolute; top: 691px; left: 701px; width: 11px; height: 276px;"><img
            src="https://i.postimg.cc/TYDBP2vP/texto-lateral.jpg" alt="boleto3_I0007.jpg" width="11" height="276"></div>
    <div align="left" style="font: 0pt; position: absolute; top: 279px; left: 16px; width: 20px; height: 18px;"><img
            src="https://i.postimg.cc/nhfg98nG/tesoura.jpg" alt="boleto3_I0008.jpg" width="18" height="18"></div>
    <div align="left" style="font: 0pt; position: absolute; top: 591px; left: 16px; width: 20px; height: 18px;"><img
            src="https://i.postimg.cc/nhfg98nG/tesoura.jpg" alt="boleto3_I0009.jpg" width="18" height="18"></div>
    <div align="left" style="font: 0pt; position: absolute; top: 978px; left: 16px; width: 20px; height: 18px;"><img
            src="https://i.postimg.cc/nhfg98nG/tesoura.jpg" alt="boleto3_I0010.jpg" width="18" height="18"></div>
    <div align="left"
        style="position: absolute; top: 409px; left: 20px; width: 192px; font: 8pt Courier New; color: #000000"></div>

    <!-- DATA DO DOCUMENTO -->
    <div align="left"
        style="position: absolute; top: 389px; left: 30px; width: 140px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA DO DOCUMENTO -->

    <div align="left"
        style="position: absolute; top: 388px; left: 134px; width: 262px; font: 8pt Courier New; color: #000000">DF
        00113</div>

    <!-- DATA PROCESSAMENTO -->
    <div align="left"
        style="position: absolute; top: 389px; left: 388px; width: 158px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA PROCESSAMENTO -->

    <div align="left"
        style="position: absolute; top: 389px; left: 278px; width: 105px; font: 8pt Courier New; color: #000000"></div>
    <div align="center"
        style="position: absolute; top: 390px; left: 326px; width: 35px; font: bold 8pt Courier New; color: #000000">N
    </div>
    <div align="left"
        style="position: absolute; top: 359px; left: 489px; width: 270px; font: bold 6pt Arial; color: #000000">
        Agência&nbsp;/&nbsp;Código&nbsp;do&nbsp;Cedente</div>
    <div align="center"
        style="position: absolute; top: 315px; left: 207px; width: 66px; font: bold 14pt Arial; color: #000000; height: 18px;">
        341-7</div>
    <div align="left"
        style="position: absolute; top: 409px; left: 109px; width: 70px; font: 9pt Courier New; color: #000000">179
    </div>
    <div align="left"
        style="position: absolute; top: 409px; left: 180px; width: 140px; font: bold 8pt Courier New; color: #000000">
        Real</div>
    <div align="left"
        style="position: absolute; top: 401px; left: 360px; width: 48px; font: bold 6pt Arial; color: #000000">Valor
    </div>
    <div align="left"
        style="position: absolute; top: 380px; left: 360px; width: 220px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Processamento</div>
    <div align="left"
        style="position: absolute; top: 380px; left: 285px; width: 70px; font: bold 6pt Arial; color: #000000">Espécie
    </div>
    <div align="left"
        style="position: absolute; top: 401px; left: 276px; width: 108px; font: bold 6pt Arial; color: #000000">
        Quantidade</div>
    <div align="left"
        style="position: absolute; top: 380px; left: 331px; width: 55px; font: bold 6pt Arial; color: #000000">Aceite
    </div>
    <div align="left"
        style="position: absolute; top: 338px; left: 488px; width: 110px; font: bold 6pt Arial; color: #000000">
        Vencimento</div>
    <div align="left"
        style="position: absolute; top: 380px; left: 488px; width: 140px; font: bold 6pt Arial; color: #000000">
        Nosso&nbsp;Número</div>
    <div align="left"
        style="position: absolute; top: 401px; left: 488px; width: 240px; font: bold 6pt Arial; color: #000000">
        1&nbsp;(=)&nbsp;Valor&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 422px; left: 488px; width: 275px; font: bold 6pt Arial; color: #000000">
        2&nbsp;(-)&nbsp;Descontos&nbsp;/&nbsp;Abatimentos</div>
    <div align="left"
        style="position: absolute; top: 444px; left: 488px; width: 202px; font: bold 6pt Arial; color: #000000">
        3&nbsp;(-)&nbsp;Outras&nbsp;Deduções</div>
    <div align="left"
        style="position: absolute; top: 465px; left: 488px; width: 162px; font: bold 6pt Arial; color: #000000">
        4&nbsp;(+)&nbsp;Mora&nbsp;/&nbsp;Multa</div>
    <div align="left"
        style="position: absolute; top: 486px; left: 488px; width: 220px; font: bold 6pt Arial; color: #000000">
        5&nbsp;(+)&nbsp;Outros&nbsp;acréscimos</div>
    <div align="left"
        style="position: absolute; top: 507px; left: 488px; width: 182px; font: bold 6pt Arial; color: #000000">
        6&nbsp;(=)&nbsp;Valor&nbsp;Cobrado</div>
    <div align="left"
        style="position: absolute; top: 422px; left: 21px; width: 98px; font: bold 6pt Arial; color: #000000">Instruções
    </div>
    <div align="left"
        style="position: absolute; top: 529px; left: 21px; width: 68px; font: bold 6pt Arial; color: #000000">Sacado
    </div>
    <div align="left"
        style="position: absolute; top: 337px; left: 21px; width: 188px; font: bold 6pt Arial; color: #000000">
        Local&nbsp;de&nbsp;Pagamento</div>
    <div align="left"
        style="position: absolute; top: 359px; left: 21px; width: 78px; font: bold 6pt Arial; color: #000000">Cedente
    </div>
    <div align="left"
        style="position: absolute; top: 380px; left: 20px; width: 188px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 380px; left: 106px; width: 168px; font: bold 6pt Arial; color: #000000">
        Nº&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 401px; left: 20px; width: 132px; font: bold 6pt Arial; color: #000000">
        Uso&nbsp;do&nbsp;Banco</div>
    <div align="left"
        style="position: absolute; top: 401px; left: 109px; width: 72px; font: bold 6pt Arial; color: #000000">Carteira
    </div>
    <div align="left"
        style="position: absolute; top: 401px; left: 175px; width: 165px; font: bold 6pt Arial; color: #000000">
        Espécie&nbsp;da&nbsp;Moeda</div>
    <div align="left"
        style="position: absolute; top: 316px; left: 285px; width: 415px; font: bold 10pt Arial; color: #000000">
        34191.79001 01043.510047 91020.150008 3 -10141.1250000000</div>
    <div align="left"
        style="position: absolute; top: 530px; left: 612px; width: 210px; font: bold 6pt Arial; color: #000000">
        Autenticação&nbsp;Mecânica</div>
    <div align="left"
        style="position: absolute; top: 582px; left: 577px; width: 290px; font: bold 10pt Arial; color: #000000">
        Recibo&nbsp;do&nbsp;Sacado</div>
    <div align="left"
        style="position: absolute; top: 341px; left: 121px; width: 365px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        PAGÁVEL EM QUALQUER BANCO ATÉ O VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 364px; left: 61px; width: 426px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        Unique Store</div>
    <div align="left"
        style="position: absolute; top: 433px; left: 21px; width: 460px; font: 8pt Courier New; color: #000000; height: 18px;">
        Taxa de visita de suporte
        <br>Após o vencimento R$ 0,80 ao dia
    </div>
    <div align="left"
        style="position: absolute; top: 530px; left: 165px; width: 508px; font: bold 9pt Courier New; color: #000000">
    </div>

    <!-- Data vencimento -->
    <div align="left"
        style="position: absolute; top: 341px; left: 594px; width: 105px; font: bold 10pt Courier New; color: #000000; height: 18px;">
        31/12/2022
    </div>
    <!-- end Data vencimento -->

    <div align="left"
        style="position: absolute; top: 499px; left: 21px; width: 459px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 508px; left: 21px; width: 458px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 517px; left: 21px; width: 460px; font: 6pt Arial; color: #000000; height: 18px;">
        ATENÇÃO: NÃO RECEBER APÓS 15 DIAS DO VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 104px; left: 20px; width: 192px; font: 8pt Courier New; color: #000000"></div>

    <!-- DATA DO DOCUMENTO 2 -->
    <div align="left"
        style="position: absolute; top: 84px; left: 30px; width: 140px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA DO DOCUMENTO 2-->

    <div align="left"
        style="position: absolute; top: 83px; left: 134px; width: 262px; font: 8pt Courier New; color: #000000">DF 00113
    </div>

    <!-- DATA PROCESSAMENTO 2 -->
    <div align="left"
        style="position: absolute; top: 84px; left: 388px; width: 158px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA PROCESSAMENTO 2 -->

    <div align="left"
        style="position: absolute; top: 84px; left: 278px; width: 105px; font: 8pt Courier New; color: #000000"></div>
    <div align="center"
        style="position: absolute; top: 85px; left: 326px; width: 35px; font: bold 8pt Courier New; color: #000000">N
    </div>
    <div align="right"
        style="position: absolute; top: 60px; left: 555px; width: 145px; font: 9pt Courier New; color: #000000; height: 18px;">
        0049/10201-5</div>
    <div align="right"
        style="position: absolute; top: 676px; left: 555px; width: 145px; font: 9pt Courier New; color: #000000; height: 18px;">
        0049/10201-5</div>
    <div align="right"
        style="position: absolute; top: 365px; left: 555px; width: 145px; font: 9pt Courier New; color: #000000; height: 18px;">
        0049/10201-5</div>
    <div align="left"
        style="position: absolute; top: 54px; left: 489px; width: 270px; font: bold 6pt Arial; color: #000000">
        Agência&nbsp;/&nbsp;Código&nbsp;do&nbsp;Cedente</div>
    <div align="center"
        style="position: absolute; top: 10px; left: 207px; width: 70px; font: bold 14pt Arial; color: #000000">341-7
    </div>
    <div align="right"
        style="position: absolute; top: 81px; left: 555px; width: 144px; font: 9pt Courier New; color: #000000; height: 18px;">
        179/00010435-1</div>
    <div align="right"
        style="position: absolute; top: 696px; left: 556px; width: 144px; font: 9pt Courier New; color: #000000; height: 18px;">
        179/00010435-1</div>
    <div align="right"
        style="position: absolute; top: 385px; left: 555px; width: 144px; font: 9pt Courier New; color: #000000; height: 18px;">
        179/00010435-1</div>
    <div align="left"
        style="position: absolute; top: 104px; left: 109px; width: 70px; font: 9pt Courier New; color: #000000">179
    </div>

    <!-- VALOR TOTAL -->
    <div align="right"
        style="position: absolute; top: 101px; left: 555px; width: 143px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        R$ {{ valor_total }}
    </div>

    <div align="right"
        style="position: absolute; top: 406px; left: 555px; width: 143px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        R$ {{ valor_total }}
    </div>

    <div align="right"
        style="position: absolute; top: 717px; left: 555px; width: 143px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        R$ {{ valor_total }}
    </div>
    <!-- end VALOR TOTAL -->

    <div align="left"
        style="position: absolute; top: 104px; left: 180px; width: 140px; font: bold 8pt Courier New; color: #000000">
        Real</div>
    <div align="left"
        style="position: absolute; top: 96px; left: 360px; width: 48px; font: bold 6pt Arial; color: #000000">Valor
    </div>
    <div align="left"
        style="position: absolute; top: 75px; left: 360px; width: 220px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Processamento</div>
    <div align="left"
        style="position: absolute; top: 75px; left: 285px; width: 70px; font: bold 6pt Arial; color: #000000">Espécie
    </div>
    <div align="left"
        style="position: absolute; top: 96px; left: 276px; width: 108px; font: bold 6pt Arial; color: #000000">
        Quantidade</div>
    <div align="left"
        style="position: absolute; top: 75px; left: 331px; width: 55px; font: bold 6pt Arial; color: #000000">Aceite
    </div>
    <div align="left"
        style="position: absolute; top: 33px; left: 488px; width: 110px; font: bold 6pt Arial; color: #000000">
        Vencimento</div>
    <div align="left"
        style="position: absolute; top: 75px; left: 488px; width: 140px; font: bold 6pt Arial; color: #000000">
        Nosso&nbsp;Número</div>
    <div align="left"
        style="position: absolute; top: 96px; left: 488px; width: 240px; font: bold 6pt Arial; color: #000000">
        1&nbsp;(=)&nbsp;Valor&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 117px; left: 488px; width: 275px; font: bold 6pt Arial; color: #000000">
        2&nbsp;(-)&nbsp;Descontos&nbsp;/&nbsp;Abatimentos</div>
    <div align="left"
        style="position: absolute; top: 139px; left: 488px; width: 202px; font: bold 6pt Arial; color: #000000">
        3&nbsp;(-)&nbsp;Outras&nbsp;Deduções</div>
    <div align="left"
        style="position: absolute; top: 160px; left: 488px; width: 162px; font: bold 6pt Arial; color: #000000">
        4&nbsp;(+)&nbsp;Mora&nbsp;/&nbsp;Multa</div>
    <div align="left"
        style="position: absolute; top: 181px; left: 488px; width: 220px; font: bold 6pt Arial; color: #000000">
        5&nbsp;(+)&nbsp;Outros&nbsp;acréscimos</div>
    <div align="left"
        style="position: absolute; top: 202px; left: 488px; width: 182px; font: bold 6pt Arial; color: #000000">
        6&nbsp;(=)&nbsp;Valor&nbsp;Cobrado</div>
    <div align="left"
        style="position: absolute; top: 117px; left: 21px; width: 98px; font: bold 6pt Arial; color: #000000">Instruções
    </div>
    <div align="left"
        style="position: absolute; top: 224px; left: 21px; width: 68px; font: bold 6pt Arial; color: #000000">Sacado
    </div>
    <div align="left"
        style="position: absolute; top: 32px; left: 21px; width: 188px; font: bold 6pt Arial; color: #000000">
        Local&nbsp;de&nbsp;Pagamento</div>
    <div align="left"
        style="position: absolute; top: 54px; left: 21px; width: 78px; font: bold 6pt Arial; color: #000000">Cedente
    </div>
    <div align="left"
        style="position: absolute; top: 75px; left: 20px; width: 188px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 75px; left: 106px; width: 168px; font: bold 6pt Arial; color: #000000">
        Nº&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 96px; left: 20px; width: 132px; font: bold 6pt Arial; color: #000000">
        Uso&nbsp;do&nbsp;Banco</div>
    <div align="left"
        style="position: absolute; top: 96px; left: 109px; width: 72px; font: bold 6pt Arial; color: #000000">Carteira
    </div>
    <div align="left"
        style="position: absolute; top: 96px; left: 175px; width: 165px; font: bold 6pt Arial; color: #000000">
        Espécie&nbsp;da&nbsp;Moeda</div>
    <div align="left"
        style="position: absolute; top: 11px; left: 285px; width: 415px; font: bold 10pt Arial; color: #000000; height: 18px;">
        34191.79001 01043.510047 91020.150008 3 -10141.1250000000</div>
    <div align="left"
        style="position: absolute; top: 227px; left: 612px; width: 210px; font: bold 6pt Arial; color: #000000">
        Autenticação&nbsp;Mecânica</div>
    <div align="left"
        style="position: absolute; top: 270px; left: 597px; width: 240px; font: bold 10pt Arial; color: #000000">
        Ficha&nbsp;de&nbsp;Caixa</div>
    <div align="left"
        style="position: absolute; top: 36px; left: 121px; width: 364px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        PAGÁVEL EM QUALQUER BANCO ATÉ O VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 59px; left: 61px; width: 423px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        Unique Store</div>
    <div align="left"
        style="position: absolute; top: 128px; left: 21px; width: 459px; font: 8pt Courier New; color: #000000; height: 18px;">
        Taxa de visita de suporte
        <br>Após o vencimento R$ 0,80 ao dia
    </div>
    <div align="left"
        style="position: absolute; top: 225px; left: 165px; width: 525px; font: bold 9pt Courier New; color: #000000">
    </div>

    <div align="left"
        style="position: absolute; top: 36px; left: 594px; width: 104px; font: bold 10pt Courier New; color: #000000; height: 18px;">
        31/12/2022
    </div>

    <div align="left"
        style="position: absolute; top: 194px; left: 21px; width: 458px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 203px; left: 21px; width: 458px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 212px; left: 21px; width: 458px; font: 6pt Arial; color: #000000; height: 18px;">
        ATENÇÃO: NÃO RECEBER APÓS 15 DIAS DO VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 719px; left: 20px; width: 192px; font: 8pt Courier New; color: #000000"></div>

    <!-- DATA DO DOCUMENTO 3 -->
    <div align="left"
        style="position: absolute; top: 699px; left: 30px; width: 140px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA DO DOCUMENTO 3 -->

    <div align="left"
        style="position: absolute; top: 698px; left: 134px; width: 262px; font: 8pt Courier New; color: #000000">DF
        00113</div>

    <!-- DATA PROCESSAMENTO 3-->
    <div align="left"
        style="position: absolute; top: 699px; left: 388px; width: 158px; font: 8pt Courier New; color: #000000">
        {{ data_hoje }}
    </div>
    <!-- end DATA PROCESSAMENTO 3 -->

    <div align="left"
        style="position: absolute; top: 699px; left: 278px; width: 105px; font: 8pt Courier New; color: #000000"></div>
    <div align="center"
        style="position: absolute; top: 700px; left: 326px; width: 35px; font: bold 8pt Courier New; color: #000000">N
    </div>
    <div align="left"
        style="position: absolute; top: 669px; left: 489px; width: 270px; font: bold 6pt Arial; color: #000000">
        Agência&nbsp;/&nbsp;Código&nbsp;do&nbsp;Cedente</div>
    <div align="center"
        style="position: absolute; top: 625px; left: 207px; width: 68px; font: bold 14pt Arial; color: #000000; height: 18px;">
        341-7</div>
    <div align="left"
        style="position: absolute; top: 719px; left: 109px; width: 70px; font: 9pt Courier New; color: #000000">179
    </div>
    <div align="left"
        style="position: absolute; top: 719px; left: 180px; width: 140px; font: bold 8pt Courier New; color: #000000">
        Real</div>
    <div align="left"
        style="position: absolute; top: 711px; left: 360px; width: 48px; font: bold 6pt Arial; color: #000000">Valor
    </div>
    <div align="left"
        style="position: absolute; top: 690px; left: 360px; width: 220px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Processamento</div>
    <div align="left"
        style="position: absolute; top: 690px; left: 285px; width: 70px; font: bold 6pt Arial; color: #000000">Espécie
    </div>
    <div align="left"
        style="position: absolute; top: 711px; left: 276px; width: 108px; font: bold 6pt Arial; color: #000000">
        Quantidade</div>
    <div align="left"
        style="position: absolute; top: 690px; left: 331px; width: 55px; font: bold 6pt Arial; color: #000000">Aceite
    </div>
    <div align="left"
        style="position: absolute; top: 648px; left: 488px; width: 110px; font: bold 6pt Arial; color: #000000">
        Vencimento</div>
    <div align="left"
        style="position: absolute; top: 690px; left: 488px; width: 140px; font: bold 6pt Arial; color: #000000">
        Nosso&nbsp;Número</div>
    <div align="left"
        style="position: absolute; top: 711px; left: 488px; width: 240px; font: bold 6pt Arial; color: #000000">
        1&nbsp;(=)&nbsp;Valor&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 732px; left: 488px; width: 275px; font: bold 6pt Arial; color: #000000">
        2&nbsp;(-)&nbsp;Descontos&nbsp;/&nbsp;Abatimentos</div>
    <div align="left"
        style="position: absolute; top: 754px; left: 488px; width: 202px; font: bold 6pt Arial; color: #000000">
        3&nbsp;(-)&nbsp;Outras&nbsp;Deduções</div>
    <div align="left"
        style="position: absolute; top: 775px; left: 488px; width: 162px; font: bold 6pt Arial; color: #000000">
        4&nbsp;(+)&nbsp;Mora&nbsp;/&nbsp;Multa</div>
    <div align="left"
        style="position: absolute; top: 796px; left: 488px; width: 220px; font: bold 6pt Arial; color: #000000">
        5&nbsp;(+)&nbsp;Outros&nbsp;acréscimos</div>
    <div align="left"
        style="position: absolute; top: 817px; left: 488px; width: 182px; font: bold 6pt Arial; color: #000000">
        6&nbsp;(=)&nbsp;Valor&nbsp;Cobrado</div>
    <div align="left"
        style="position: absolute; top: 732px; left: 21px; width: 98px; font: bold 6pt Arial; color: #000000">Instruções
    </div>
    <div align="left"
        style="position: absolute; top: 839px; left: 21px; width: 68px; font: bold 6pt Arial; color: #000000">Sacado
    </div>
    <div align="left"
        style="position: absolute; top: 647px; left: 21px; width: 188px; font: bold 6pt Arial; color: #000000">
        Local&nbsp;de&nbsp;Pagamento</div>
    <div align="left"
        style="position: absolute; top: 669px; left: 21px; width: 78px; font: bold 6pt Arial; color: #000000">Cedente
    </div>
    <div align="left"
        style="position: absolute; top: 690px; left: 20px; width: 188px; font: bold 6pt Arial; color: #000000">
        Data&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 690px; left: 106px; width: 168px; font: bold 6pt Arial; color: #000000">
        Nº&nbsp;do&nbsp;Documento</div>
    <div align="left"
        style="position: absolute; top: 711px; left: 20px; width: 132px; font: bold 6pt Arial; color: #000000">
        Uso&nbsp;do&nbsp;Banco</div>
    <div align="left"
        style="position: absolute; top: 711px; left: 109px; width: 72px; font: bold 6pt Arial; color: #000000">Carteira
    </div>
    <div align="left"
        style="position: absolute; top: 711px; left: 175px; width: 165px; font: bold 6pt Arial; color: #000000">
        Espécie&nbsp;da&nbsp;Moeda</div>
    <div align="left"
        style="position: absolute; top: 626px; left: 285px; width: 415px; font: bold 10pt Arial; color: #000000">
        34191.79001 01043.510047 91020.150008 3 -10141.1250000000</div>
    <div align="left"
        style="position: absolute; top: 908px; left: 495px; width: 210px; font: bold 6pt Arial; color: #000000">
        Autenticação&nbsp;Mecânica</div>
    <div align="left"
        style="position: absolute; top: 967px; left: 540px; width: 372px; font: bold 10pt Arial; color: #000000">
        Ficha&nbsp;de&nbsp;Compensação</div>
    <div align="left"
        style="position: absolute; top: 651px; left: 121px; width: 365px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        PAGÁVEL EM QUALQUER BANCO ATÉ O VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 674px; left: 61px; width: 425px; font: bold 9pt Courier New; color: #000000; height: 18px;">
        Unique Store</div>
    <div align="left"
        style="position: absolute; top: 743px; left: 21px; width: 461px; font: 8pt Courier New; color: #000000; height: 18px;">
        Taxa de visita de suporte
        <br>Após o vencimento R$ 0,80 ao dia
    </div>
    <div align="left"
        style="position: absolute; top: 840px; left: 165px; width: 525px; font: bold 9pt Courier New; color: #000000">
    </div>

    <div align="left"
        style="position: absolute; top: 651px; left: 594px; width: 104px; font: bold 10pt Courier New; color: #000000; height: 18px;">
        31/12/2022
    </div>

    <div align="left"
        style="position: absolute; top: 809px; left: 21px; width: 460px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 818px; left: 21px; width: 461px; font: 6pt Arial; color: #000000; height: 18px;">
    </div>
    <div align="left"
        style="position: absolute; top: 827px; left: 21px; width: 460px; font: 6pt Arial; color: #000000; height: 18px;">
        ATENÇÃO: NÃO RECEBER APÓS 15 DIAS DO VENCIMENTO</div>
    <div align="left"
        style="position: absolute; top: 621px; left: 22px; width: 165px; font: 10pt Arial; color: #000000"><img
            src="https://i.postimg.cc/44MrZ7MM/logo-banco.jpg" width="90" height="23"></div>
    <div align="left"
        style="position: absolute; top: 312px; left: 22px; width: 165px; font: 10pt Arial; color: #000000"><img
            src="https://i.postimg.cc/44MrZ7MM/logo-banco.jpg" width="90" height="23"></div>
    <div align="left" style="position: absolute; top: 7px; left: 22px; width: 165px; font: 10pt Arial; color: #000000">
        <img src="https://i.postimg.cc/44MrZ7MM/logo-banco.jpg" width="90" height="23">
    </div>
</body>