{% extends 'base.html' %}

{% block titulo %}Pedidos de {{ user }} | {% endblock %}

{% load omfilters %}

{% block conteudo %}

<style>
    .textoDireita {
        text-align: right;
    }

    @media (max-width: 769px) {
        .textoDireita {
            text-align: left;
        }
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="mb-3">
    <a href="{% url 'pedido:conta' %}" style="color: #262727;">
        Início</a><span style="color: #939393;">
        <i class="fa-solid fa-2xs fa-angles-right"></i> Pedidos
    </span>
</div>

<div class="containerHome text-center mt-4 mb-2" id="loading" style="display: block">
    {% include 'parciais/_carregamento.html' %}
    <i class="fa-regular fa-file-lines fa-2xl mt-4" style="color: #008B8B;" aria-hidden="true"></i>
    <p class="lead mt-2">Carregando o histórico de pedidos</p>
</div>

<div id="conteudo" style="display: none">

    <div class="row">
        <div class="col">
            <h3 class="mb-4">Pedidos de {{ user }}</h3>
            {% if pedidos %}

            <div class="row mb-2">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <p class="lead" style="font-size: 1.2rem;">Abaixo os seus pedidos realizados na loja.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <p class="lead textoDireita" style="font-size: 1.2rem;">
                        Você já realizou <i><span id="pedido_qtd" style="font-weight: 450;">{{ pedido_total }}</span>
                            <span id="pedido_txt" style="font-weight: 450;"></span></i>
                        conosco.
                    </p>
                </div>
            </div>


            <div class="table-responsive text-center">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Pedido</th>
                        <th scope="col">Total</th>
                        <th scope="col">Qtd. Itens</th>
                        <th scope="col">Criado</th>
                        <th scope="col">Status</th>
                        <th scope="col">Mais detalhes</th>
                        <th scope="col">Atualizado</th>
                    </tr>

                    {% for pedido in pedidos %}
                    <tr>
                        <th scope="row">{{ pedido }}</td>
                        <td>{{ pedido.total|formata_preco }}</td>
                        <td id='teste'>{{ pedido.qtd_total }}</td>
                        <td>{{ pedido.criado|formata_data }}</td>
                        <td>{{ pedido.get_status_display }}</td>
                        <td>
                            <a href="{% url 'pedido:detalhe' pedido.id %}" style="color: #008B8B;">
                                Ver<i class="fas fa-search-plus ml-2" style="color: #008B8B;"></i>
                            </a>
                        </td>
                        <td>{{ pedido.modificado|formata_data }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </div>

        </div> <!-- end col -->
    </div> <!-- end row -->

</div> <!-- end conteudo -->

{% include 'parciais/_pagination.html' %}

{% else %}

<p class="lead text-center" style="font-weight: 350;">Você ainda não pediu com a gente :(</p>

{% endif %}

<script>


    // funcao pre loader
    var i = setInterval(function () {

        clearInterval(i);

        document.getElementById("loading").style.display = "none";
        document.getElementById("conteudo").style.display = "inline";

    }, 2500);


    // funcao escrita peditos
    pedido_qtd = document.getElementById('pedido_qtd').innerText
    pedido_txt = document.getElementById('pedido_txt')

    if (pedido_qtd > 1) {
        pedido_txt.innerHTML = 'pedidos'
    }
    else {
        pedido_txt.innerHTML = 'pedido'
    }




</script>

{% endblock %}

{% block footer %} {% include 'parciais/_footerSimplesConta.html'%} {% endblock %}