{% extends 'base.html' %}

{% block titulo %}Pagamento | {% endblock %}

{% load omfilters %}
{% load static %}

{% block conteudo %}

<div class="row">
    <div class="col mt-2 text-center">
        <h3>Escolha o método de pagamento:</h3>
        <br>

        <img class="img-fluid"
            src="https://www.ufpb.br/dcx/contents/imagens/figuras/output_zvmmKf.gif/@@images/image.gif">
        <br><br><br>

    </div>
</div>

{% include 'parciais/_pedido.html' %}

<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-info btn-lg btn-block">Pagar</a>
    </div>
</div>

{% endblock %}