{% extends 'base.html' %}


{% block conteudo %}

<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <p>Para o desenvolvedor: adicione seu método de pagamento preferido.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h3>Pedido N. 5</h3>

        <div class="row mt-4">
            <div class="col-lg-2 font-weight-bold">Número do pedido:</div>
            <div class="col-lg-4">5</div>
            <div class="col-lg-2 font-weight-bold">Total a pagar:</div>
            <div class="col-lg-4">R$ 19,90</div>

            <div class="col-lg-2 font-weight-bold">QTD. Itens:</div>
            <div class="col-lg-4">1</div>
            <div class="col-lg-2 font-weight-bold">Status:</div>
            <div class="col-lg-4">Criado</div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <h3>Produtos</h3>
            </div>
        </div>

        <div class="table-responsive mt-3">
            <table class="table">
                <tr>
                    <th class="d-none d-lg-block">Imagem</th>
                    <th>Produto</th>
                    <th>V.</th>
                    <th>QTD.</th>
                    <th>Total</th>
                </tr>


                <tr>
                    <td class="d-none d-lg-block">
                        <img class="cart-img" src="imgs/7eb9d706-b8e3-48d0-957e-25f4a722f944.jpg">
                    </td>
                    <td>Faca Fileteira Escamadora - Albatroz</td>
                    <td></td>
                    <td>1</td>
                    <td>R$ 19,90</td>
                </tr>
            </table>
        </div>


        <div class="row mt-4">
            <div class="col">
                <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
            </div>
        </div>


    </div>
</div>

{% endblock %}