{% extends 'base.html' %}

{% block titulo %}Resumo Pagamento | {% endblock %}

{% load omfilters %}
{% load static %}

{% block conteudo %}

<h2 class="mt-5">CRIAR LAYOUT PARA RESUMO PAGAR!!</h2>

<p class="mt-5"><a href="{% url 'pedido:gerarboleto' pedido.id %}">CLIQUE AQUI PARA GERAR SEU BOLETO</a></p>

<ul class="mt-4">
    <li>
        <small>
            Adicionar tela de loading na page pagar escrito "Estamos gerando seu boleto"
        </small>
    </li>
    <br />
    <li>
        <small class="mt-1">Adicionar opções de imprimir/ visualizar / fazer o download do boleto</small>
    </li>
    <br />
    <li><small class="mt-1">
            Após clicar no boleto, mostrar uma mensagem com "assim que seu pagamento for confirmado,
            enviaremos os detalhes do seu pedido para o seu e-mail.
        </small>
    </li>
    <br />
    <li><small class="mt-1">
            Antes de pedido adicionar um resumo com endereço, forma de pagamento escolhida e resumo (total a pagar)
        </small>
    </li>
</ul>

<div class="mt-5">
    {% include 'parciais/_pedido.html' %}
</div>

<div class="row mt-4 mb-5">
    <div class="col-6">
        <a href="{% url 'produto:home' %}">
            <button class="btn btn-info btn-lg btn-block">Realizar nova compra</button></a>
    </div>
    <div class="col-6">
        <a href="{% url 'pedido:lista' %}">
            <button class="btn btn-info btn-lg btn-block">Ir para meus pedidos</button></a>
    </div>
    <div class="col-6"></div>
</div>

{% endblock %}