{% extends 'baseHome.html' %}
{% load static %}

{% block titulo %}Perguntas Frequentes | {% endblock %}

{% block conteudo %}

<style>
    .esconder {
        display: none;
    }

    .card-conteudo-respostas .lead {
        font-size: 1.1rem;
    }
</style>

<div class="mb-3">
    <a href="{% url 'produto:home' %}" style="color: #262727;">
        Página inicial</a><span style="color: #939393;">
        <i class="fa-solid fa-2xs fa-angles-right"></i> Perguntas frequentes
    </span>
</div>
<div id="accordion">
    <div class="card shadow border ml-2 mr-2">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne" id="btn1">
                    <i class="fa-solid fa-angles-right fa-2xs" id="mostrar"></i>
                    <i class="fa-solid fa-angles-down fa-2xs" id="esconder" style="display: none;"></i>
                    Política de troca, devolução e garantia
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body card-conteudo-respostas">
                <div class="text-right mb-1">
                    <button type="button" aria-label="Close" onclick="fechar()">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                </div>
                <p class="lead"> Todos os produtos estão cobertos com a garantia legal de 90 dias, caso
                    deseje
                    trocar ou devolver seu pedido, isso é perfeitamente possível. É um direito do
                    consumidor garantido por lei. Nós, da Clothes Store, fazemos questão de explicar o
                    passo a passo, de forma que o processo fique fácil para você.
                    O Código de Defesa do Consumidor dispõe que as trocas e devoluções podem ser feitas
                    em até 7 (sete) dias corridos se o cliente se arrepender da compra.
                    Depois desse prazo, elas são gratuitas durante 30 dias depois da data do pedido.
                    Oferecemos as seguintes opções de troca: créditos para novas compras, uma mercadoria
                    diferente ou reembolso do valor pago. Há, contudo, algumas regras que devem ser
                    observadas:
                </p>
                <ul class="lead">
                    <li>
                        produtos com desconto são de venda final e não estão disponíveis para trocas nem devoluções;
                    </li>
                    <li>
                        produtos devolvidos devem conservar a etiqueta e ser enviados na embalagem original;
                    </li>
                    <li>
                        produtos devolvidos não devem apresentar sinais de uso.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card shadow border ml-2 mr-2">
        <div class="card-header" id="headingTwo">
            <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo" id="btn2">
                <i class="fa-solid fa-angles-right fa-2xs" id="mostrar2"></i>
                <i class="fa-solid fa-angles-down fa-2xs" id="esconder2" style="display: none;"></i>
                Como faço para solicitar uma troca?
            </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body card-conteudo-respostas">
                <div class="text-right mb-1">
                    <button type="button" aria-label="Close" onclick="fechar()">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                </div>
                <p class="lead">
                    Para iniciar o processo de troca siga as etapas abaixo:
                </p>
                <ul class="lead">
                    <li>
                        Faça login no site;
                    </li>
                    <li>
                        Vá na aba contatos;
                    </li>
                    <li>
                        Preencha os dados, em assunto escreva solicitar troca, após em mensagem digite o
                        número do pedido e o motivo da troca;
                    </li>
                    <li>
                        Retornaremos o contato no prazo máximo de 72 horas, a troca poderá ser realizada em
                        até 30 dias após solicitada.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card shadow border ml-2 mr-2">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree" id="btn3">
                    <i class="fa-solid fa-angles-right fa-2xs" id="mostrar3"></i>
                    <i class="fa-solid fa-angles-down fa-2xs" id="esconder3" style="display: none;"></i>
                    Como faço para solicitar uma devolução?
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body card-conteudo-respostas">
                <div class="text-right mb-1">
                    <button type="button" aria-label="Close" onclick="fechar()">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                </div>
                <p class="lead">
                    Para iniciar o processo de devolução siga as etapas abaixo:
                </p>
                <ul class="lead">
                    <li>
                        Faça login no site;
                    </li>
                    <li>
                        Vá na aba contatos;
                    </li>
                    <li>
                        Preencha os dados, em assunto escreva solicitar devolução, após em mensagem digite o
                        número do pedido e o motivo da devolução;
                    </li>
                    <li>
                        Retornaremos o contato no prazo máximo de 72 horas, a devolução poderá ser realizada
                        em até 7 dias após a devolução do produto.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card shadow border ml-2 mr-2">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour" id="btn4">
                    <i class="fa-solid fa-angles-right fa-2xs" id="mostrar4"></i>
                    <i class="fa-solid fa-angles-down fa-2xs" id="esconder4" style="display: none;"></i>
                    Como preparar o produto para envio após solicitação da troca ou devolução?
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body card-conteudo-respostas">
                <div class="text-right mb-1">
                    <button type="button" aria-label="Close" onclick="fechar()">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                </div>
                <p class="lead">
                    Será gerado um código postal autorizando o retorno do produto, o mesmo deve ser
                    postado em uma agência dos correios indicada pela Clothes Store, o produto deve
                    continuar nas mesmas condições que recebido, com etiqueta original, embalagem e sem
                    avaria.
                </p>
            </div>
        </div>
    </div>
    <div class="card shadow border ml-2 mr-2">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-light text-left" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive" id="btn5">
                    <i class="fa-solid fa-angles-right fa-2xs" id="mostrar5"></i>
                    <i class="fa-solid fa-angles-down fa-2xs" id="esconder5" style="display: none;"></i>
                    Quais são as opções de reembolso para uma devolução?
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body card-conteudo-respostas">
                <div class="text-right mb-1">
                    <button type="button" aria-label="Close" onclick="fechar()">
                        <i class="fa-solid fa-xmark fa-lg"></i>
                    </button>
                </div>
                <p class="lead">
                    Se você solicitou o reembolso, a devolução do valor ocorrerá da forma como foi
                    efetuado o pagamento, se o pagamento foi feito via boleto bancário, o valor de
                    reembolso será restituído dentro de 30 dias úteis diretamente na conta que solicitaremos
                    no momento de sua requisição de devolução
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}