{% extends 'baseHome.html' %}

{% block titulo %}Política de Privacidade | {% endblock %}

{% block conteudo %}

<style>
    .conteudo h4 {
        margin-top: 45px;
        margin-bottom: 15px;
    }

    .conteudo p {
        text-align: justify;
        user-select: none;

    }
</style>

<div class="mb-3">
    <a href="{% url 'produto:home' %}" style="color: #262727;">
        Página inicial</a><span style="color: #939393;">
        <i class="fa-solid fa-2xs fa-angles-right"></i> Política de Privacidade
    </span>
</div>
<div class="card shadow border ml-2 mr-2">
    <div class="card-body" style="padding: 5px;">
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="conteudo">
                    <h3 class="text-center" style="text-transform: uppercase;">Modelo de Política de privacidade e
                        segurança</h3>

                    <h4>Política de privacidade</h4>
                    <p class="lead">Conforme as normas previstas na Lei 13.709/18, que versa sobre a proteção de dados e
                        as demais legislações pertinentes, apresentamos a Política de Privacidade e Segurança
                        do Unique Online Store.
                    </p>
                    <p class="lead">
                        Este documento é vinculado e integra as Condições e Termos de Uso deste site, sendo
                        passível de alteração a qualquer momento para adequação em regras estabelecidas pelas
                        legislações que estabelecem o modo de tratamento dos dados.
                    </p>
                    <p class="lead">
                        O acesso, visita e permanência neste site/blog é de livre escolha e acontece conforme a
                        vontade/desejo do usuário, sendo sua visita e prosseguimento no site, escolha deste
                        usuário.
                    </p>
                    <p class="lead">
                        Ficando ciente por meio deste documento que a partir do momento em que mantém o
                        acesso e a permanência em qualquer uma das nossas páginas está automaticamente
                        demonstrando estar de acordo, de forma explicita com todas as regras e termos trazidos
                        na Política de Privacidade e Segurança descrita abaixo.
                    </p>
                    <p class="lead">
                        Sendo seu direito a qualquer momento entrar em contato conosco para maiores
                        informações do que aqui foi descrito, bem como esclarecimento de dúvidas que possam
                        vir a existir.
                    </p>
                    <p class="lead">
                        O site <a href="{% url 'produto:home' %}"
                            style="color: #17A2B8;">https://storeunique.herokuapp.com/</a> foi criado em 08 de agosto de
                        2022 é de
                        inteira propriedade de Jonata Pereira Gomes, Lucas Rodrigues Gomes, Luiz Eduardo
                        Macedo Brandão e Luiz Felipe Mesquita da Mota.
                        Esta Política de Privacidade foi modifica em 25 de Abril de 2022, criada pelo Advogado
                        Diego Castro, e utilizada com autorização neste site.
                    </p>

                    <h4>Informações Gerais:</h4>
                    <p class="lead">
                        Nosso site se compromete a cumprir e respeitar os princípios previstos no art. 6º da
                        Lei
                        Geral de Proteção de dados, estando eles abaixo elencados e esclarecidos conforme ao
                        tratamento de dados realizado por este site/blog:
                    </p>
                    <p class="lead">
                        I – Princípio da Finalidade: Este site é respeita o que prevê o princípio da finalidade
                        trazido na legislação supracitada, realizando o tratamento com finalidade legítima e
                        específica, informando por meio desta Política de Privacidade e Segurança de forma
                        explicita, aos titulares dos dados que serão tratados o motivo do tratamento. Nenhum
                        tratamento será realizado de forma incompatível com as finalidades que serão
                        informadas neste documento.
                    </p>
                    <p class="lead">
                        II – Principio da Necessidade: Coletamos e tratamos apenas os dados necessários para a
                        realização das finalidades explicitas do nosso site, com o compromisso de coletar e
                        tratar o mínimo de informações do usuário do nosso site. Utilizamos apenas as
                        informações/dados pertinentes, proporcionais com a atividade desempenhada por nós,
                        sem exceder nenhum limite na relação existente entre o usuário e o nosso site, sendo
                        todo e qualquer dado coletado e tratado conforme as finalidades estabelecidas em nossas
                        páginas.
                    </p>
                    <p class="lead">
                        III – Principio da Adequação: Todo tratamento realizado em nossas páginas é
                        compatível com as finalidades informadas para o usuário/cliente, respectivo titular dos
                        dados, não sendo realizado nenhum tipo de ação ou mecanismo que seja não condizente
                        e desrespeite o contexto de tratamento necessário.
                    </p>
                    <p class="lead">
                        IV – Não discriminação: Os dados que coletamos, armazenamos e que realizamos
                        qualquer tipo de tratamento não são utilizados para nenhum fim discriminatório,
                        vexatório, ilícito ou abusivo.
                    </p>
                    <p class="lead">
                        V – Principio da Qualidade dos dados: Garantimos aos titulares dos dados clareza e
                        relevância no momento da coleta e do tratamento dos dados, além da possibilidade de
                        atualização, conforme se fizer necessário para que seja cumprida a finalidade do
                        tratamento, conforme a atividade que for realizada pelo usuário/cliente em nosso site.
                    </p>
                    <p class="lead">
                        VI – Principio do Livre Acesso: Esclarecemos por meio desta Política de Privacidade e
                        Segurança que garantimos a todos os titulares de dados que realizamos o tratamento, a
                        consulta de maneira gratuita e fácil, a qualquer momento em que desejarem, por meio
                        de um canal específico, sobre o tratamento realizado com os seus dados, assim como
                        qualquer informação referente aos dados coletados, podendo inclusive acontecer
                        atualização dos dados pessoais do titular, sem que a necessidade de qualquer requisição
                        por parte do nosso site.
                    </p>
                    <p class="lead">
                        VII – Principio da Prevenção: Adotamos e zelamos pela prevenção de todo e qualquer
                        ato que possa gerar dano aos dados coletados dos usuários/cliente, com medidas
                        implantadas em busca de prevenir qualquer situação incomoda, ilegal, ou que gere
                        qualquer espécie de prejuízo/dano aos dados pessoais que realizamos tratamos.
                    </p>
                    <p class="lead">
                        VIII – Principio da Transparência: Trabalhamos com clareza, precisão, exatidão e
                        veracidade em todas as informações trazidas sobre o tratamento de dados, sendo o seu
                        acesso fácil e disponível ao usuário/cliente nesta Política de Privacidade, bem como nos
                        Termos de Uso no nosso site. As informações respectivas aos agentes de tratamento
                        seguem o mesmo critério de transparência acima elencados. Todas as informações
                        trazidas sobre o tratamento e os agentes de tratamento respeitam os segredos comerciais
                        e industriais.
                    </p>
                    <p class="lead">
                        IX – Principio da Segurança: Informamos que utilizamos todas as medidas cabíveis e
                        possíveis na seara técnica e administrativa, visando a maior proteção dos dados
                        pessoais, desde o momento em que temos acesso a eles. As técnicas utilizadas buscam
                        proteger os dados pessoais de todo e qualquer acesso não autorizado, bem como de
                        situações que possam causar danos ao titular dos dados, ainda que acidentais ou ilícitas.
                        As técnicas que utilizamos buscam trazer segurança e proteção ao titular dos dados que
                        realizamos o tratamento, visto que são tomadas em busca de prevenir e proteger as
                        informações coletadas de qualquer situação ilícita de perda, destruição,
                        compartilhamento, comunicação ou difusão não autorizada.
                    </p>
                    <p class="lead">
                        X – Principio da responsabilização e prestação de contas: O agente irá demonstrar e
                        comprovar que cumpre e respeita todas as normas cabíveis a Proteção de Dados
                        Pessoais, adotando medidas adequadas para isso de maneira eficaz. O nosso site realiza
                        todas as etapas referentes ao tratamento de dados pessoais dos usuários/clientes que o
                        acessam, sem desrespeitar qualquer norma ou princípio presente na Lei 13.709/2018,
                        tendo de forma clara e objetiva o fundamento da finalidade para o tratamento de cada
                        informação pessoal coletada.
                    </p>

                    <h4>Sobre o Nosso site</h4>
                    <p class="lead">
                        Nosso site possuí textos, imagens, bem como os demais
                        conteúdos que você poderá visualizar ao acessar nossas abas, todos sem nenhum teor
                        discriminatório, ilícito ou difamatório.
                    </p>
                    <p class="lead">
                        Traçamos planos e metas a serem seguidos para apresentar um conteúdo de valor, com
                        informações relevantes referente ao tema aqui abordado.
                    </p>
                    <p class="lead">
                        Assumimos o compromisso por meio deste documento de proporcionar o melhor
                        resultado no momento da navegação do nosso usuário/cliente, nos comprometendo a
                        agir e trabalhar com total segurança e respeitando a privacidade dos dados pessoais
                        tratados.
                    </p>
                    <p class="lead">
                        Tenha atenção a todas as informações disponibilizadas nesta página, pois é por meio
                        dela que trazemos de forma clara e direta como acontecem todas as etapas de tratamento
                        das informações pessoais coletadas, inclusive deixando claro o compartilhamento e
                        divulgação (em alguns casos) que realizamos com parceiros.
                    </p>
                    <p class="lead">
                        A qualquer momento está Política de Privacidade e Segurança poderá ser modificada,
                        conforme atualizações normativas ou alterações em nossa Política Interna, razão pela
                        qual convidamos ao (a) nosso (a) usuário (a)/ cliente a consultar este documento
                        periodicamente para que tenham ciência imediata de qualquer alteração que venha a
                        acontecer.
                    </p>

                    <h4>Informações sobre o controlador e Responsável pelo Tratamento de dados</h4>
                    <p class="lead">
                        Conforme previsão do art. 5º da Lei Geral de Proteção de dados trazemos aqui
                        informações sobre o controlador definido pela legislação “in verbis”:
                    </p>
                    <p class="lead">
                        <i>Art. 5º, VI – controlador: pessoa natural ou jurídica, de direito público ou privado, a
                            quem competem as decisões referentes ao tratamento de dados pessoais;</i>
                    </p>
                    <p class="lead">
                        O CONTROLADOR é um profissional/empresa de nossa inteira confiança, que está
                        ciente de todas as normas trazidas na legislação que realiza a proteção de dados, além de
                        ter total ciência e conhecimento das normas estabelecidas na nossa Política Interna.
                        Nosso conteúdo também pode ser encontrado no Google, Yahoo ou outros buscadores,
                        além de ser indicado por sites especializados, como o <a href="https://eletrocriticas.com"
                            style="color: #17A2B8;">Eletro Críticas</a>.
                    </p>

                    <h4>Informações sobre o Conteúdo do site e Classificação Indicativa:</h4>
                    <p class="lead">
                        O conteúdo trazido é direcionado para pessoas que tenham interesse, curiosidade ou
                        busquem informações a respeito do conteúdo do nosso site.
                    </p>
                    <p class="lead">
                        Todo conteúdo abordado em nossas páginas é produzido por nossa equipe ou por
                        parceiros, respeitando as legislações nacionais, bem como, os valores éticos e humanos,
                        além dos princípios morais, zelando pela transparência e veracidade em todas as
                        informações trazidas.
                    </p>
                    <p class="lead">
                        O nosso site, bem como o seu conteúdo e os parceiros são indicados para pessoas com
                        idade a partir de 18 anos.
                    </p>
                    <p class="lead">
                        Caso você não tenha 18 anos de idade completos tenha ciência de que é necessária
                        permissão do seu responsável para você ter acesso aos conteúdos trazidos em nossas
                        páginas, sendo de total responsabilidade DO RESPONSÁVEL pelo menor de idade o
                        acesso ao nosso material, bem como os conteúdos trazidos por nossos parceiros.
                    </p>

                    <h4>Sobre o tratamento de dados:</h4>
                    <p class="lead">
                        Nosso site trabalha com determinadas operações e funcionalidades das quais se fazem
                        necessárias o tratamento de dados pessoais, desde a etapa da sua coleta até a sua
                        eliminação, ou armazenamento, como será discorrido abaixo:
                    </p>
                    <p class="lead">
                        Da coleta de dados:
                    </p>
                    <p class="lead">
                        Realizamos a coleta de dados dos usuários/visitantes/clientes do nosso site não apenas
                        para realização dos serviços que prestamos, como também por segurança, já que
                        qualquer ato irregular ou ilícito praticado por ele poderá ser passível de consequências
                        especificas para o responsável.
                    </p>
                    <p class="lead">
                        A utilização de determinadas funções do nosso site depende expressamente da coleta de
                        dados dos usuários como: nome, telefone de contato, e-mail, bem como os demais
                        dados cabíveis para a finalidade que se apresenta no site.
                    </p>
                    <p class="lead">
                        A Coleta de Dados pode acontecer por todas as áreas do nosso site/blog, uma vez que
                        ela acontece por meio do preenchimento de formulários, FAQ, envio de dúvidas, Chat
                        ou cadastro.
                    </p>
                    <p class="lead">
                        Cientificamos ainda, que ao preencher formulário/FAQ/Cadastro ou qualquer tipo de
                        área referente ao retorno de contato ou duvidas em nosso site, assim como o ACEITE
                        dos COOKIES que utilizamos, O USUÁRIO /CLIENTE demonstra A
                        CONCORDÂNCIA de forma objetiva, clara e expressa da coleta e tratamento de seus
                        dados que será realizada pelo site/equipe do site/ parceiros do site respeitando todas as
                        normas de proteção aos dados pessoais.
                    </p>
                    <p class="lead">
                        É indispensável ainda, informarmos que trabalhamos com ferramenta de análise de
                        dados (analytics ou similar) para monitorar os resultados de acessos, comentários, entre
                        outras informações sobre o desempenho do nosso site.
                    </p>
                    <p class="lead">
                        Nosso site também realiza a coleta e o tratamento de dados referentes ao dispositivo e
                        vinculados ao registro de acesso.
                    </p>
                    <ul class="lead">
                        <li>
                            Dados do dispositivo: Coletamos dados vinculados ao dispositivo que acessa ao
                            nosso site, principalmente por motivo de segurança – dados como: modelo do
                            hardware, sistema operacional, identificadores de dispositivo (localização e
                            etc.).
                        </li>
                        <li>
                            Registros de Acesso: Coletamos e tratamos ações vinculadas ao uso de dados,
                            desde a sua inclusão, até a exclusão de dados, IP do usuário/cliente, data
                            (dia/mês/ano), hora do acesso realizado.
                        </li>
                        <li>
                            Dados de navegação: Realizamos a coleta e o tratamento de dados relativos à
                            navegação, assim podemos desempenhar uma melhor experiência para o
                            usuário/cliente – navegador onde o usuário realizou o acesso e páginas
                            acessadas.
                        </li>
                    </ul>

                    <h4>Forma de coleta de dados</h4>
                    <p class="lead">
                        A coleta de dados dos nossos usuários/cliente acontece respeitando todos os princípios e
                        normas trazidos na Lei Geral de Proteção de Dados, com a condição expressa de
                        consentimento livre e espontâneo do usuário para isso, visto que não realizamos
                        nenhum tratamento sem permissão do usuário/cliente ou seu responsável.
                    </p>
                    <p class="lead">
                        Não utilizamos nenhum meio coercivo, autoritário, opressor, repressivo ou abusivo em
                        busca de receber o consentimento do usuário para o tratamento de seus dados.
                        A tabela abaixo informa como acontece a coleta dos dados:
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Dado</th>
                                    <th scope="col">Como acontece a coleta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dados pessoais do usuário</td>
                                    <td>Coletados por meio de formulários, FAQS, Fale Conosco, e etc. </td>
                                </tr>
                                <tr>
                                    <td>Dados do dispositivo</td>
                                    <td>Coletados/Transmitidos/Transferidos pelo acesso ao serviço que
                                        acontece por meio da internet</td>
                                </tr>
                                <tr>
                                    <td>Registro de acesso</td>
                                    <td>Coletado/Transmitidos/Transferidos pelo acesso ao serviço que
                                        acontece por meio da internet</td>
                                </tr>
                                <tr>
                                    <td>Dados de navegação</td>
                                    <td>Coletados por meio de cookies durante a navegação no site</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="lead">
                        A coleta de dados pessoais pode acontecer em diversos locais, páginas e abas do nosso
                        site, por meio de preenchimento de formulários, FAQS, chat e cadastros necessários
                        para o envio de materiais, realização de compras ou envio de informações.
                    </p>
                    <p class="lead">
                        O registro de acesso, os dados do dispositivo são coletados para a segurança do
                        usuário/cliente bem como do proprietário do site e toda a sua equipe por meio do acesso
                        ao serviço que disponibilizamos, que acontece no momento do acesso a nossa página.
                    </p>
                    <p class="lead">
                        Como buscamos conhecer melhor o nosso público trabalhamos com alguns mecanismos
                        e plataformas que realizam a coleta de dados de nossos usuários/cliente
                        automaticamente diretamente pelo sistema, sendo respeitadas todas as regras da LGPD,
                        assim como a privacidade do usuário, proporcionando todos os meios técnicos e
                        administrativos de segurança.
                    </p>

                    <h4>Finalidade do tratamento dos dados pessoais</h4>

                    <p class="lead">Todos os dados que realizamos tratamentos são utilizados respeitando os princípios
                        da Lei Geral de Proteção de Dados, principalmente o da finalidade, adequação e
                        necessidade, sendo mantidos apenas em nosso sistema até o momento em que a sua
                        finalidade continuar a existir.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Dado/Informações</th>
                                    <th scope="col">Finalidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dados pessoais do usuário</td>
                                    <td>Coletados por meio de formulários, FAQS, Fale Conosco, e etc.</td>
                                </tr>
                                <tr>
                                    <td>Dados do dispositivo</td>
                                    <td>Trazer um melhor acesso ao usuário, pois através dos dados
                                        coletados podemos adequar melhor o site ao
                                        dispositivo/navegador do usuário.</td>
                                </tr>
                                <tr>
                                    <td>Registro de acesso</td>
                                    <td>Por meio destes dados proporcionamos maior segurança aos
                                        proprietários do site e aos usuários, pois assim podemos
                                        identificar qualquer ato que aconteça dentro do nosso site.</td>
                                </tr>
                                <tr>
                                    <td>Informações de navegação</td>
                                    <td>Através dessas informações conhecemos melhor o nosso
                                        usuário, podendo passar-lhe conteúdo que ele tem interesse,
                                        bem como indicar serviço dos nossos parceiros que ele
                                        demonstre preferência, que serão encontradas por meio das
                                        páginas que ele mais acessou.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="lead">
                        Os dados dos usuários são coletados e tratados unicamente com a finalidade para qual
                        eles são fornecidos, sendo explicito em cada parte do nosso site para o que servirá o
                        dado fornecido seja por meio de cadastro, FAQ, envio de formulários, envios de
                        novidades e etc.
                    </p>
                    <p class="lead">
                        Os dados do dispositivo são tratados para que possamos proporcionar a melhor
                        experiência no seu acesso ao site, uma vez que é por meio dele que podemos adequar a
                        visualização do site/blog ao dispositivo/navegador utilizado.
                    </p>
                    <p class="lead">
                        Os registros de acesso são itens imprescindíveis no momento da realização de coleta e
                        tratamento realizado pelo nosso site, pois é por meio dele que podemos proporcionar
                        maior segurança para os usuários e para a nossa equipe, uma vez que por meio desses
                        dados pode identificar informações como endereço de IP, data, hora, atividade realizada
                        e etc., em qualquer área do nosso site, podendo objetivar qualquer ato ilícito que possa
                        vir a acontecer.
                    </p>
                    <p class="lead">
                        As informações de navegação são a melhor forma de trazer conteúdo nosso e dos nossos
                        parceiros para você, pois é através das informações de navegação que dividimos para
                        cada usuário notícias, publicidades entre outros materiais de sua preferência. Essa
                        preferência é objetivada pelos dados encontrados em páginas mais acessadas pelo
                        usuário/cliente.
                    </p>

                    <h4>Tratamento realizado nos dados</h4>
                    <p class="lead">
                        O tratamento de dados realizados no nosso site/blog respeita todas as normas previstas
                        na legislação de proteção de dados, tendo base legal para ser realizado, acontecendo
                        apenas com consentimento do usuário.
                    </p>
                    <p class="lead">
                        Todos os dados tratados são disponíveis para alteração e atualização a qualquer
                        momento, inclusive durante todo o seu armazenamento.
                    </p>
                    <p class="lead">
                        Todos os dados coletados serão armazenados podendo ser alterado conforme a
                        necessidade do serviço prestado, ou por motivo de qualquer disposição que possa vir a
                        existir.
                    </p>
                    <p class="lead">
                        Veja a descrição do modo de tratamento realizado na tabela abaixo:
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Dado/Informação</th>
                                    <th scope="col">Tratamento realizado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dados pessoais</td>
                                    <td>Coleta, armazenamento, compartilhamento e comunicação.</td>
                                </tr>
                                <tr>
                                    <td>Dados do dispositivo</td>
                                    <td>Coleta, armazenamento, processamento, compartilhamento,
                                        comunicação de informações de dispositivos que visitam nosso
                                        site.</td>
                                </tr>
                                <tr>
                                    <td>Dados de navegação</td>
                                    <td>Coleta, armazenamento, processamento, compartilhamento,
                                        comunicação de informações vinculadas as preferências e
                                        comportamento do usuário/visitante que acessa ao nosso site</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4>Dados não coletados</h4>
                    <p class="lead">
                        Respeitando os princípios contidos no início desta Política de Privacidade e
                        Segurança não realizamos a coleta de nenhum dado que não seja necessário para os serviços que
                        prestamos, ou que tenha finalidade diversa das informadas.
                    </p>
                    <p class="lead">
                        Não coletamos dados sensíveis, exceto em casos onde houver determinação legal para
                        isso, sendo informado o usuário de forma expressa da necessidade de tratamento caso
                        venha a existir, bem como o tratamento que será realizado com ele.
                    </p>

                    <h4>Compartilhamento/divulgação/publicação dos dados coletados</h4>
                    <p class="lead">
                        Respeitamos todos os limites previstos na Lei Geral de Proteção de dados referentes ao
                        compartilhamento/divulgação ou publicação de dados coletados por nós, agindo de boafé e
                        moralmente sem nenhuma intenção de causar dano ao nosso usuário/cliente.
                    </p>
                    <p class="lead">
                        Os dados serão compartilhados apenas com parceiros, se necessário, sendo ciente o
                        usuário de que concede o compartilhamento dos seus dados ao aceitar preencher
                        formulários em nosso site/blog em troca de materiais gratuitos.
                    </p>
                    <p class="lead">
                        Os dados coletados e compartilhados conforme informação mencionada acima podem
                        gerar retorno monetário ao proprietário e a equipe do site/blog, visto que ao preencher
                        formulários em troca de materiais torna-se direito deste site compartilhar as informações
                        fornecidas em busca de gerar renda para manter este projeto.
                    </p>
                    <p class="lead">
                        Em casos previstos em leis, boletim, ou caso recebamos algum tipo de determinação de
                        autoridade pública ou por meio de alguma determinação regulatória é realizado o
                        compartilhamento de dados, a publicação ou divulgação.
                    </p>
                    <p class="lead">
                        O titular tem direito de permitir o compartilhamento e o acesso de seus dados a um
                        terceiro, desde que informe de maneira expressa a permissão que deu ao titular.
                    </p>
                    <p class="lead">
                        Em situações onde somos informados que há investigação criminal ao ser requisitada
                        cooperação do nosso site, deixamos cientes os nossos usuários/clientes que cooperamos
                        do modo como nos for requisitado
                    </p>

                    <h4>Sobre os nossos parceiros</h4>
                    <p class="lead">
                        Todos os parceiros que trabalham conosco respeitam as normas previstas na Lei Geral
                        de Proteção de Dados, bem como as demais legislações que tratam sobre esse assunto.
                    </p>
                    <p class="lead">
                        Informamos que o nosso site contém links e hiperlinks de nossos parceiros, ao clicar em
                        algum desses links ou hiperlinks você é direcionado a um site externo, que não possui
                        nenhum vínculo com o nosso site, tendo Política de Privacidade e Segurança, Política
                        Interna e Termos de Uso diferente dos nossos.
                    </p>
                    <p class="lead">
                        Não temos nenhum poder ou informações para discorrer do modo como acontece o
                        tratamento de dados pelos nossos parceiros, por isso busque conhecer a Política de
                        Privacidade, Termos de Uso, bem como os demais documentos que versam sobre o
                        tratamento de dados deles.
                    </p>

                    <h4>Sobre a nossa Equipe</h4>
                    <p class="lead">
                        Nossa equipe tem ciência de todos os mecanismos técnicos e administrativos que devem
                        ser utilizados no tratamento de dados, pois informamos em nossa Política Interna,
                        conhecida por todos os nossos colaboradores o modo como deve acontecer todas as
                        etapas do tratamento de dados, respeitando a privacidade e todas as normas trazidas na
                        Lei 13.709/18.
                    </p>
                    <p class="lead">
                        <strong>OBS:</strong> Toda equipe que trabalha conosco tem conhecimento de todas as práticas e
                        técnicas que devem ser utilizadas no tratamento dos dados que coletamos, pois todos
                        tiveram e continuam a ter acesso a nossa Política Interna e Política de Governança, bem
                        como possuem treinamentos específicos para isso, sendo que qualquer ato (realizado por
                        alguém que participe da nossa equipe) considerado ilícito ou danoso ao titular de dados
                        gerara responsabilização direta e será motivo cabível para demissão com justa causa.
                    </p>

                    <h4>Segurança no Tratamento de Dados</h4>
                    <p class="lead">
                        O nosso site tem o compromisso de realizar toda e qualquer medida técnica,
                        administrativa e institucional referente a proteção de dados pessoais.
                    </p>
                    <p class="lead">
                        As técnicas de segurança utilizadas protegem os dados do usuário/cliente de acessos por
                        terceiros não autorizados, bem como de qualquer ocasião que possa trazer algum tipo de
                        modificação, destruição, difusão, compartilhamento, divulgação, comunicação dos
                        dados sem autorização e desrespeitando a Lei Geral de Proteção de Dados.
                    </p>
                    <p class="lead">
                        Todas as medidas de proteção e segurança são tomadas especificadamente para o dado
                        coletado, respeitando o contexto e a finalidade que essa informação possui.
                    </p>
                    <p class="lead">
                        O nosso site aplica criptografia e/ou firewall proporcionando assim a transmissão de
                        maneira segura, privativa e confidencial.
                    </p>
                    <p class="lead">
                        As transmissões que acontecem entre o transmissor e o usuário/clientes acontecem de
                        maneira totalmente cifrada, em busca de proteger os dados coletados.
                    </p>
                    <p class="lead">
                        Nós se compromete a avisar ao titular dos dados de qualquer violação ou acesso
                        suspeito que possa causar algum risco de dano aos direitos e liberdades pessoais do
                        titular.
                    </p>
                    <p class="lead">
                        Disponibilizamos o canal de comunicação no final deste texto para que o nosso
                        usuário/cliente possa informar qualquer situação que identifique falha, vulnerabilidade
                        na segurança ou defeito na realização do tratamento dos dados coletados.
                    </p>

                    <h4>Tratamento de dados para outras finalidades</h4>
                    <p class="lead">
                        Respeitando o que prevê a Lei Geral de Proteção de Dados informamos aos nossos
                        usuários/cliente que podemos realizar o tratamento de seus dados para finalidades
                        diversas posteriormente, sem que isso cause qualquer dano ou desrespeito ao titular dos
                        dados, informando abaixo a finalidade de uso posterior das informações coletadas.
                    </p>
                    <p class="lead">
                        As informações que coletamos sobre o titular, dispositivo, navegação, localização e etc.,
                        podem continuar a ser utilizadas para que desenvolvamos a prestação de serviços mais
                        aprimorados e de uma melhor experiência para o usuário/cliente em nossa página.
                    </p>
                    <p class="lead">
                        Caso o titular dos dados requeira a exclusão de seus dados pode entrar em contato
                        conosco pelo e-mail informado nesta Política de Privacidade.
                    </p>
                    <p class="lead">
                        Após o requerimento do titular na exclusão de seus dados acontecer, anonimizaremos os
                        dados, sendo que esses continuarão em nossos arquivos de modo anonimizado, podendo
                        ser utilizados futuramente com a finalidade de pesquisa, geração de estatísticas,
                        divulgação de informações especificas, e ainda, em publicações.
                    </p>

                    <h4>Consentimento do usuário</h4>
                    <p class="lead">
                        O usuário/cliente ao acessar o nosso site demonstra está de acordo com todas as
                        informações contidas em nossa Política de Privacidade e Termos de Uso, bem como
                        concede de livre e espontânea vontade que seus dados sejam tratados pela nossa equipe
                        respeitando os princípios da finalidade, necessidade e adequação.
                    </p>
                    <p class="lead">
                        É livre o consentimento do usuário/cliente, uma vez que não utilizamos de nenhum
                        meio de coação, obrigatoriedade, indução, constrangimento, ameaça ou imposição para
                        que o usuário/cliente conceda e permita que seja realizado o tratamento de seus dados.
                    </p>

                    <h4>Eliminação de dados</h4>
                    <p class="lead">
                        Caso o usuário/cliente não permita o armazenamento de seus dados, pode entrar em
                        contato conosco por meio dos canais de contato abaixo:
                    </p>
                    <ul class="lead">
                        <li>
                            E-mail: <a href="mailto:uniquestore.online2022@gmail.com?subject=subject text"
                                style="color: #17A2B8;">uniquestore.online2022@gmail.com</a>
                        </li>
                    </ul>
                    <p class="lead">
                        Após o requerimento de eliminação de dados, temos o prazo de 30 dias para que os
                        dados sejam eliminados ou anonimizados.
                    </p>

                    <h4>Canais de Contato e encarregado</h4>
                    <p class="lead">
                        Disponibilizamos canais de contato para o nosso usuário/cliente em busca de termos um
                        relacionamento claro e cordial, nos disponibilizando para esclarecer qualquer dúvida
                        sobre o nosso site, bem como sobre o modo como realizamos o tratamento de seus
                        dados.
                    </p>
                    <p class="lead">
                        Buscamos por meio desse profissional ter uma comunicação melhor e mais direta com
                        os nossos usuários/clientes.
                    </p>
                    <p class="lead">
                        Disponibilizamos abaixo Canais de Atendimento para você poder entrar em contato
                        com o nosso responsável pelo controle de dados: Unique online store.
                    </p>
                    <ul class="lead">
                        <li>
                            E-mail: <a href="mailto:uniquestore.online2022@gmail.com?subject=subject text"
                                style="color: #17A2B8;">uniquestore.online2022@gmail.com</a>
                        </li>
                    </ul>
                    <p class="lead">
                        Está Política de Privacidade e Segurança passa a ter validade a partir de 25 de abril de
                        2022 com validade indeterminada.
                    </p>

                    <p class="lead text-center mt-5 mb-2">
                        <strong>FONTE:</strong> <a href="https://diegocastro.adv.br/modelo-politica-privacidade/"
                            style="color: #17A2B8;">https://diegocastro.adv.br/modelo-politica-privacidade/</a>
                    </p>








                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}