{% extends 'base.html' %}

{% block titulo %}Termos de Uso | {% endblock %}

{% block conteudo %}

<div class="mb-3">
    <a href="{% url 'produto:home' %}" style="color: #262727;">
        Página inicial</a><span style="color: #939393;">
        <i class="fa-solid fa-2xs fa-angles-right"></i> Termos de Uso
    </span>
</div>
<div class="card shadow border ml-2 mr-2">
    <div class="card-body" style="padding: 5px;">
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="conteudo">
                    <h4 class="text-center mb-5">TERMOS DE USO</h4>


                    <h5 class="mb-2">1. Cadastro:</h5>
                    <p>1.1. Ao se identificar com seus dados cadastrais (login e senha pessoais), você adere a este
                        contrato, sem necessidade de assinatura.</p>
                    <p>1.2. Este Contrato se aplica a compras feitas via Internet ou telefone (televendas).</p>
                    <p>1.3. Você é o único responsável pela veracidade, exatidão, e atualização das informações que
                        preencher no seu cadastro, bem como pelo sigilo e guarda de seu login e senha pessoal.</p>

                    <h5 class="mt-2 mb-2">2. Garantia:</h5>
                    <p>2.1. Todos os produtos da Loja Kirke estão cobertos pela Garantia Legal de 90 dias.</p>

                    <h5 class="mt-2 mb-2">3. Nossos Serviços:</h5>
                    <p>3.1. É nossa intenção é oferecer sempre o melhor atendimento possível. Em caso de problemas ou
                        insatisfação com nosso atendimento, por favor, envie um e-mail para
                        <strong>CRIAR_EMAIL@CRIAR.COM</strong> e em
                        até 48 horas iremos retornar seu contato. Teremos prazer em atender a sua reclamação.
                    </p>

                    <h5 class="mt-2 mb-2">4. Preços e Disponibilidade:</h5>
                    <p>4.1. Aceitamos pedidos 24 horas por dia, sete dias por semana.</p>
                    <p>4.2. Todos os produtos ofertados em nosso site estão sujeitos a disponibilidade de nossos
                        estoques.</p>

                    <h5 class="mt-2 mb-2">5. Entrega:</h5>
                    <p>5.1. Os preços são atualizados semanalmente de forma a refletir promoções e descontos ofertados
                        em nosso site.</p>
                    <p>5.2. Para que possamos entregar os pedidos em sua residência, você ou seu representante indicado
                        no cadastro como pessoa autorizada a receber entregas, deve estar presente para receber o pedido
                        em horário comercial.</p>
                    <p>5.3. No ato da entrega a transportadora fornecerá a nota fiscal e colherá a sua assinatura ou do
                        seu representante no canhoto da nota, dando a entrega como correta e completa.</p>
                    <p>5.4. As entregas podem ocorrer em dias úteis e horário comercial.</p>
                    <p>5.5. Em caso de insucesso na entrega (endereço incorreto ou cliente ausente), uma nova tentativa
                        será realizada pelo e caso não seja encontrado o consumidor, será realizado contato com o
                        cliente para agendamento prévio da entrega.</p>
                    <p>5.6. Feriados nacionais e/ou regionais não são considerados como dia útil para a entrega.</p>
                    <p>5.7. Os serviços de entrega serão realizados por empresas contratadas pela Kirke.</p>

                    <h5 class="mt-2 mb-2">6. Frete:</h5>
                    <p>6.1. O frete será calculado com base na região de entrega e volume de produtos adquiridos. Este
                        valor estará disponível na página de produto e checkout antes de finalizar o pedido.</p>
                    <p>6.2. Não será possível alterar o endereço de entrega ou modalidade após o processamento do
                        pedido.
                        Caso necessário, entre em contato com nosso site através de email ou whatsapp.</p>

                    <h5 class="mt-2 mb-2">7. Pagamento:</h5>
                    <p>7.1. As únicas opções para pagamento das compras realizadas em nosso website são: cartão de
                        crédito, pix ou boleto bancário com 5% de desconto emitido pelo site sempre com o vencimento
                        para o próximo dia útil. Não aceitamos outras formas de pagamento.</p>
                    <p>7.2. O desconto de 5% para pagamentos realizados pelo boleto bancário será aplicado apenas na
                        valor dos produtos disponíveis no site e não é cumulativo com o frete.</p>
                    <p>7.3. As bandeiras de cartão de crédito aceitas no site são: Visa, Mastercard, Diners, Elo,
                        Hipercard ou American Express, disponíveis na página de produto ou rodapé do site para o
                        consumidor.</p>

                    <p>7.4. Suas compras podem ser parceladas em até 6x Sem Juros*.</p>
                    <p>7.5. Compras realizadas pelo WhatsApp, o cliente ganha 10% de desconto com pagamento em boleto
                        bancário ou pix.</p>

                    <small>*Por favor, confira as informações de pagamento na página do produto.</small>

                    <h5 class="mt-4 mb-2">8. Segurança Eletrônica:</h5>
                    <p>8.1. Todas as páginas no nosso site que começam por https são criptografadas usando SSL durante a
                        transmissão. Utilizamos este meio de segurança em todas as páginas que contém trocas de
                        informações
                        pessoais e de forma de pagamento.</p>

                    <h5 class="mt-2 mb-2">9. Condições Gerais:</h5>
                    <p>9.1. Você concorda que o uso de meios eletrônicos de comunicação nos endereços aqui previstos
                        será
                        considerado aceitável para todos os fins.</p>
                    <p>9.2. Você concorda em fornecer informações que nos permitam confirmar que você é efetivamente a
                        pessoa que está efetuando a compra em nosso website.</p>
                    <p>9.3. Você concorda em fornecer cópias de documentos solicitados por nosso departamento de
                        aprovação de crédito a fim de confirmar a veracidade das informações fornecidas no ato do seu
                        cadastro caso isso seja necessário. </p>
                    <p>9.4. Você concorda com nossa política de privacidade para o site
                        https://storeunique.herokuapp.com</p>
                    <p>9.5. São aplicáveis as leis brasileiras, e o foro da cidade do Rio de Janeiro, RJ.</p>
                    <br>
                    <p>Esta página regula as condições de nosso serviço de vendas online com entrega em domicílio. Em
                        caso de dúvida, envie mensagem para <strong>CRIAR_EMAIL@CRIAR.COM</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}