{% load static %}
{% load omfilters %}

<style>
    .containerHome {
        width: 100%;
        max-width: 1378px;
        margin: 0 auto;
        padding: 0 .938rem;
    }

    .containerHome img {
        display: block;
        max-width: 100%;
        margin: auto;
        transition: ease-in-out .3s;
        box-shadow: 0 0 0 rgb(0 0 0 / 10%);
    }

    .containerHome a:hover img {
        opacity: .9;
        transform: translateY(-4px);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    }

    .gap-top-bottom {
        padding: 70px 0;
    }

    .img-box img {
        width: 100%;
    }

    .text-box h4 {
        font-size: 20px
    }

    /**sec2 style**/
    .sec2 {
        /* padding: 60px 0; */
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0;
        /* border-top: 1px solid #d9d9d9; */
        background-color: #f1f1f1;
    }

    .sec2 h1 {
        color: black;
    }

    .item-img {
        position: relative;
        transition: all ease-in-out 0.5s;
    }

    .item-img img {
        width: 250px;
        height: 250px;
    }

    .hover-box {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.5s;
        opacity: 0;
    }

    .hover-box ul {
        padding-left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    .hover-box ul li {
        color: gold;
        font-size: 30px;
    }

    .text-box-2 h4 {
        color: #28A745;
    }

    .text-box-2 p samp {
        color: red;
    }

    /***hover**/
    .item-box:hover .hover-box {
        opacity: 1;
        bottom: 0;

    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

<!-- section start here-->

<!-- section start here-->
<section class="sec2">
    <div class="containerHome">
        <div class="row  mt-5 mb-4">
            <div class="col-md">
                <h1>Destaques</h1>
            </div>
        </div>
        <!--end row-->

        <div class="row slider2">
            <div class="col">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item">destaque!</i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                        <br>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>Item Carousel</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>This is demo</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>This is demo</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->

            <div class="col mb-5">
                <div class="item-box">
                    <div class="item-img">
                        <img src="https://i.postimg.cc/4xbs10LT/moletom2.jpg">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                            </ul>
                        </div>
                    </div><!-- end item img-->
                    <div class="text-box-2 text-center">
                        <h4>This is demo</h4>
                        <p><strike>$289.00</strike> <samp>$250.55</samp></p>
                        <button class="btn btn-info">Buy Now</button>
                    </div>
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->
        </div>
    </div>
    <!--container end-->
</section>
<!--section end-->


<script>
    /**slider 2 js **/
    $('.slider2').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        autoplay: true,
        speed: 300,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 738,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });


</script>