{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}{{ produto.nome }} | {% endblock %}

{% block conteudo %}

<style>
    .subtituloMobile {
        display: inline;
        margin-bottom: 20px;
    }

    .mobileDetalheImg {
        width: 330px;
        height: 570px;
    }

    .botaoCarrinhoMobile {
        margin-top: 70px;
        height: 70px;
    }

    .texto-carrinho {
        font-weight: 500;
        font-size: large;
    }

    .conteudoMobile {
        margin-top: 0px;
        margin-left: 35px;
    }

    @media (max-width: 990px) {
        .mobileDetalheImg {
            width: 50%;
            height: 40%;
            padding-right: 70px;
            padding-left: 70px;
            padding-top: 10px;
            padding-bottom: 50px;
        }

        .conteudoMobile {
            margin-left: 0px;
            margin-top: 10px;
        }

        .botaoCarrinhoMobile {
            margin-top: 5px;
        }
    }

    @media (max-width: 767px) {
        .subtituloMobile {
            display: none;
        }

        .mobileDetalheImg {
            height: 520px;
            padding: 5px;
        }
    }

    @media (max-width: 500px) {
        .mobileDetalheImg {
            height: 500px;
            padding: 5px;
        }
    }
</style>

<div class="row mb-2">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left subtituloMobile">
        <a href="{% url 'produto:home' %}" style="color: #262727;">
            Pág. Inicial</a>
        <span style="color: #939393;">
            <i class="fa-solid fa-2xs fa-angles-right"></i> <a href="{% url 'produto:lista' %}" style="color: #939393;">
                Produtos</a>
        </span>
        <span style="color: #939393;">
            <i class="fa-solid fa-2xs fa-angles-right"></i> {{ produto.nome }}
        </span>
    </div>
</div>

<div class="row">
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">

                <!--  necessario para verificar se existe imagem no bd e nao aparecer ícone erro ao renderizar -->
                {% if produto.imagem %}

                <!--  necessario para para caso houver apenas 1 imagem cadastrada, NÃO irá exibir carousel -->
                {% if produto.imagem2 %}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 mobileDetalheImg" src="{{ produto.imagem }}" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 mobileDetalheImg" src="{{ produto.imagem2 }}" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <i class="fa-solid fa-chevron-left fa-lg" style="color: black;"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <i class="fa-solid fa-chevron-right fa-lg" style="color: black;"></i>
                    </a>
                </div>

                {% else %}
                <div class="text-center">
                    <img class="img-fluid" src="{{ produto.imagem }}">
                </div>

                {% endif %}
                <!-- end if exibicao carousel caso tenha mais de 1 foto -->

                {% else %}
                <div class="text-center">
                    <img class="img-fluid" src="https://i.postimg.cc/265tP6FY/produto-sem-foto.jpg">
                </div>

                {% endif %}
                <!-- end if nao aparecer ícone erro ao renderizar -->

            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="conteudoMobile">
            {% if produto.tipo == 'L' %}
            <small>
                <a href="{% url 'produto:lista' %}" style="color: #262727;">
                    Lançamento
                </a>
            </small>
            {% endif %}
            {% if produto.tipo == 'D' %}
            <small>
                <a href="{% url 'produto:ord_destaque' %}" style="color: #262727;">
                    Destaque
                </a>
            </small>
            {% endif %}

            <h1 class="h2 mt-4">{{ produto.nome }}</h1>

            <p class="lead mt-1"> Categoria:
                <a href="{% url 'produto:categoria' produto.categoria_produto %}" style="color: #262727;">
                    {{ produto.categoria_produto }}
                </a>
            </p>

            <p class="mt-5">Escolha o tamanho:</p>

            <form action="{% url 'produto:adicionaraocarrinho' %}" id="form-add-to-cart">
                <div class="form-group">
                    <select id="select-variacoes" name="vid" class="form-control form-control-lg">

                        {% for variacao in produto.variacao_set.all %}
                        {% if variacao.preco_promocional %}
                        <option data-preco="{{ variacao.preco|formata_preco }}"
                            data-preco-promocional="{{ variacao.preco_promocional|formata_preco }}"
                            value="{{ variacao.id }}">
                            {% if variacao.nome %}
                            {{ variacao.nome }}
                            {% else %}
                            {{ variacao }}
                            {% endif %}
                        </option>
                        {% else %}
                        <option data-preco="{{ variacao.preco|formata_preco }}" value="{{ variacao.id }}">
                            {% if variacao.nome %}
                            {{ variacao.nome }}
                            {% else %}
                            {{ variacao }}
                            {% endif %}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <p class="lead mt-5">

                    {% if produto.preco_marketing_promocional %}
                    <span id="variation-preco-promocional" class="lead product-price">
                        {{ produto.preco_marketing_promocional|formata_preco }}
                    </span>
                    <span id="variation-preco" class="lead product-old-price text-muted">
                        {{ produto.preco_marketing|formata_preco }}
                    </span>
                    {% else %}
                    <span id="variation-preco" class="lead product-price">
                        {{ produto.preco_marketing|formata_preco }}
                    </span>
                    {% endif %}

                </p>
                <br />
                <div class="text-left">
                    <button type="submit" class="btn btn-primary btn-lg btn-block botaoCarrinhoMobile">
                        <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                        <span class="texto-carrinho ml-2">Adicionar ao carrinho</span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="mt-5 mb-5">
            <h2 class="text-left">Descrição</h2>
            <p class="lead">{{ produto.descricao_curta }}</p>
            <h2 class="text-left mt-5">Informações</h2>
            {{ produto.descricao_longa|linebreaks }}
        </div>
    </div>
</div>

<h3 class="mt-1">Veja mais </h3>
<br>
<h5 class="ml-5">add carousel produtos veja mais</h5>

{% endblock %}