{% load static %}

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center mt-3">
        <a href="{% url 'produto:categoria' 'Moletons' %}" name="buscar">
            <img class="img-fluid shadow border" src="https://i.postimg.cc/QCKX6g7k/nossos-moletons.png" alt="Moletons">
        </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center mt-3">
        <a href="{% url 'produto:categoria' 'Bermudas' %}" name="buscar">
            <img class="img-fluid shadow border" src="https://i.postimg.cc/cHH13G4z/nossas-bermudas.png" alt="">
        </a>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center mt-3">
        <a href="{% url 'produto:categoria' 'Camisas' %}" name="buscar">
            <img class="img-fluid shadow border" src="https://i.postimg.cc/xC4fypX1/nossas-camisas.png" alt="">
        </a>
    </div>
</div>