{% load static %}
{% load omfilters %}

{% load static %}
{% load omfilters %}

<style>
    /** homeCarousel_destaques style **/

    /* sec style */
    .sec {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0;
        padding-bottom: 5px;
        /* padding: 60px 0; */
        /* border-top: 1px solid #d9d9d9; */
        background-color: #f1f1f1;
    }

    .sec h1 {
        color: black;
    }

    .item-img {
        position: relative;
        transition: all ease-in-out 0.5s;
    }

    .item-img img {
        width: 250px;
        height: 250px;
    }

    .hover-box {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.5s;
        opacity: 0;
    }

    .hover-box ul {
        padding-left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    .hover-box ul li {
        color: gold;
        font-size: 30px;
    }

    .text-box h5 {
        color: #28A745;
    }

    .text-box p samp {
        color: red;
    }

    .text-box span {
        color: red;
        font-weight: bold;
    }

    /***hover**/
    .item-box:hover .hover-box {
        opacity: 1;
        bottom: 0;
        color: #f1f1f1;
    }

    .item-box:active {
        background-color: #f1f1f1;
    }

    @media (max-width: 767px) {
        .sec {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 0;
            padding-bottom: 4px;
        }

        .sec h1 {
            font-size: 1.675rem;
        }
    }
</style>