{% load static %}

<div class="banner-info mt-1">
    <div class="open_desk flexHome justify-betweenHome">
        <div class="item">
            <div class="line flexHome justify-centerHome align-centerHome">
                <img class="icon"
                    src="https://images.tcdn.com.br/files/1033635/themes/25/img/settings/site-seguro-plkn.png?092216108a0503f7a65b9b8c1afbbe10"
                    alt="Site seguro">
                <span class="text"><span class="featured">
                        Site seguro
                    </span>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="line flexHome justify-centerHome align-centerHome">
                <img class="icon"
                    src="https://images.tcdn.com.br/files/1033635/themes/25/img/settings/parcelamento-plkn.png?092216108a0503f7a65b9b8c1afbbe10"
                    alt="Parcelamento">
                <span class="text"><span class="featured">
                        Parcelamentos
                    </span>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="line flexHome justify-centerHome align-centerHome">
                <img class="icon"
                    src="https://images.tcdn.com.br/files/1033635/themes/25/img/settings/entrega-rapida-plkn.png?092216108a0503f7a65b9b8c1afbbe10"
                    alt="Entrega Rápida">
                <span class="text"><span class="featured">
                        Entrega Rápida
                    </span>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="line flexHome justify-centerHome align-centerHome">
                <img class="icon"
                    src="https://images.tcdn.com.br/files/1033635/themes/25/img/settings/atendimento-plkn.png?092216108a0503f7a65b9b8c1afbbe10"
                    alt="Atendimento">
                <span class="text"><span class="featured">
                        Contato
                    </span>
                </span>
            </div>
        </div>
        <div class="item">
            <div class="line flexHome justify-centerHome align-centerHome">
                <img class="icon"
                    src="https://images.tcdn.com.br/files/1033635/themes/25/img/settings/troca-segura-plkn.png?092216108a0503f7a65b9b8c1afbbe10"
                    alt="Troca segura">
                <span class="text"><span class="featured">
                        Troca segura
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>