{% load static %}
{% load omfilters %}

{% load static %}
{% load omfilters %}

<style>
    /** homeCarousel_destaques style **/

    /* sec style */
    .sec {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0;
        padding-bottom: 5px;
        /* padding: 60px 0; */
        /* border-top: 1px solid #d9d9d9; */
        background-color: #f1f1f1;
    }

    .sec h1 {
        color: black;
    }

    .item-img {
        position: relative;
        transition: all ease-in-out 0.5s;
    }

    .item-img img {
        width: 250px;
        height: 250px;
    }

    .hover-box {
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        transition: all ease-in-out 0.5s;
        opacity: 0;
    }

    .hover-box ul {
        padding-left: 0;
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
    }

    .hover-box ul li {
        color: gold;
        font-size: 30px;
    }

    .text-box h5 {
        color: #28A745;
    }

    .text-box p samp {
        color: red;
    }

    .text-box span {
        color: red;
        font-weight: bold;
    }

    /***hover**/
    .item-box:hover .hover-box {
        opacity: 1;
        bottom: 0;
        color: #f1f1f1;
    }

    .item-box:active {
        background-color: #f1f1f1;
    }

    @media (max-width: 767px) {
        .sec {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 0;
            padding-bottom: 4px;
        }

        .sec h1 {
            font-size: 1.675rem;
        }
    }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>

<!-- section start here-->
<section class="sec">
    <div class="containerHome">
        <div class="row mt-5 mb-4">
            <div class="col-md">
                <h1>Lançamentos</h1>
            </div>
        </div>
        <!--end row-->

        <div class="row slider2">

            {% for produto in produtoLancamento %}
            <div class="col">
                <div class="item-box mb-4">
                    <div class="item-img">
                        <img src="{{ produto.imagem }}" alt="">
                        <div class="hover-box">
                            <ul class="list-inline">
                                <li class="list-inline-item">lançamento!</i></li>
                            </ul>
                        </div>
                    </div><!-- end item img -->

                    <div class="text-box text-center mt-2">
                        <h5>{{ produto.nome }}</h5>

                        {% if produto.preco_marketing_promocional %}

                        <p>
                            <strike class="mr-2">{{ produto.preco_marketing|formata_preco }}</strike>
                            <span>{{produto.preco_marketing_promocional|formata_preco }}</span>
                        </p>

                        {% else %}
                        <p><strike>{{ produto.preco_marketing_promocional|formata_preco }}</strike></p>

                        {% endif %}
                        <a href="{% url 'produto:detalhe' produto.slug %}" style="text-decoration: none;">
                            <button class="btn btn-info">Compre Aqui</button>
                        </a>
                        <!-- end tag <a>-->

                    </div>
                    <!-- end text-box box-->
                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->
            {% endfor %}

        </div>
        <!--end row-->
    </div>
    <!--containerHome end-->
</section>
<!--section end-->

<script>
    /**slider 2 js **/
    $('.slider2').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        dots: true,
        autoplay: true,
        speed: 300,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 738,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });
</script>