{% load static %}
{% load omfilters %}

<style>
    .btnCaro {
        background-color: #008b8b;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        border: 1px solid transparent;
        transition: none;
        color: #fff;
        border-color: #17a2b8;
        padding: 0.5rem 0.75rem;
        font-size: 1.1rem;
        line-height: 1.5;
        border-radius: 12px;
        cursor: pointer;
        width: 160px;
    }
</style>

<!-- section start here-->
<section class="sec">
    <div class="containerHome">
        <div class="row mt-5 mb-4">
            <div class="col-md">
                <h1>Mais Vendidos</h1>
            </div>
        </div>
        <!--end row-->

        <div class="row slider3">

            {% for produto in produtoMaisVendidos %}
            <div class="col">
                <div class="item-box mb-4 shadow border">

                    <div class="item-img">
                        <a href="{% url 'produto:detalhe' produto.slug %}" style="text-decoration: none;">
                            {% if produto.imagem %}
                            <img src="{{ produto.imagem }}" alt="{{ produto.nome }}">
                            {% else %}
                            <img class="img-fluid" src="https://i.postimg.cc/265tP6FY/produto-sem-foto.jpg">
                            {% endif %}

                            <!-- <div class="hover-box">
                                <ul class="list-inline">
                                    <li class="list-inline-item">destaque!</i></li>
                                </ul>
                            </div> -->

                            <div class="coracao-favorito" style="
                            position: absolute; 
                            top: 0; 
                            right: 0;
                            font-size: 1.8em;
                            color: #5e17eb;
                            ">
                                <a href="{% url 'produto:adicionarfavorito' produto.slug %}" style="color: #5e17eb;"
                                    title="adicionar aos favoritos">
                                    <i class="fa-solid fa-heart-circle-plus" aria-hidden="true"></i>
                                </a>
                            </div>

                        </a>
                    </div>
                    <!-- end item img -->

                    <div class="text-box text-center mt-2 product-price-block">
                        <a href="{% url 'produto:detalhe' produto.slug %}" style="text-decoration: none;">
                            <h5 class="mt-3">{{ produto.nome }}</h5>
                        </a>

                        {% if produto.preco_marketing_promocional %}

                        <p>
                            <strike class="mr-2 product-old-price">{{ produto.preco_marketing|formata_preco }}</strike>
                            <span class="product-price">{{produto.preco_marketing_promocional|formata_preco }}</span>
                        </p>

                        {% else %}
                        <p><span class="product-price">{{ produto.preco_marketing|formata_preco }}</span>
                        </p>

                        {% endif %}
                    </div>
                    <!-- end text-box box-->

                    <div class="text-center" style="margin-top: -10px; margin-bottom: 7px;">
                        <a href="{% url 'produto:detalhe' produto.slug %}">
                            <button type="button" class="mt-3 btn btn-info btnCaro"
                                title="veja mais detalhes do produto">
                                <i class="fa-solid fa-magnifying-glass-plus mr-2"></i>
                                Ver
                            </button></a>
                    </div>

                </div>
                <!-- end item box-->
            </div>
            <!--end col here-->
            {% endfor %}

        </div>
        <!--end row-->
    </div>
    <!--containerHome end-->
</section>
<!--section end-->

<script>
    /**slider js **/
    $('.slider3').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        dots: true,
        autoplay: true,
        speed: 300,
        responsive: [
            {
                breakpoint: 1210,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 980,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1
                }
            },
            {
                breakpoint: 500,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
        ]
    });

    // retornando para mesma posição ao recarregar a página
    var posicao = localStorage.getItem('posicaoScroll');

    /* Se existir uma opção salva seta o scroll nela */
    if (posicao) {
        /* Timeout necessário para funcionar no Chrome */
        setTimeout(function () {
            window.scrollTo(0, posicao);
        }, 1);
    }

    /* Verifica mudanças no Scroll e salva no localStorage a posição */
    window.onscroll = function (e) {
        posicao = window.scrollY;
        localStorage.setItem('posicaoScroll', JSON.stringify(posicao));
    }
</script>