{% extends 'base.html' %}
{% load static %}

{% block titulo %}Home | {% endblock %}

{% block conteudoHome %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a class="dropdown-item" href="{% url 'produto:categoria' 'Moletons' %}" name="buscar"
                style="text-decoration:none">
                <img class="d-block w-100" src="https://i.postimg.cc/5N7xbh07/caro1.png" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a class="dropdown-item" href="{% url 'produto:categoria' 'Bermudas' %}" name="buscar"
                style="text-decoration:none">
                <img class="d-block w-100" src="https://i.postimg.cc/sgM3XTGV/caro2.png" alt="Second slide">
            </a>
        </div>
        <div class="carousel-item">
            <a class="dropdown-item" href="{% url 'produto:categoria' 'Camisas' %}" name="buscar"
                style="text-decoration:none">
                <img class="d-block w-100" src="https://i.postimg.cc/zXXzmzJH/caro3.png" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa-solid fa-chevron-left fa-lg" style="color: black; margin-left: 8px;"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fa-solid fa-chevron-right fa-lg" style="color: black; margin-right: 8px;"></i>
    </a>
</div>


{% endblock %}