{% load static %}

<div class="row text-center">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3">
        <a href="{% url 'produto:categoria' 'Moletons' %}" name="buscar">
            <img class="img-fluid" src="https://i.postimg.cc/SRn3MhZ9/moletom-blocofinal.png" alt="">
        </a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mt-3">
        <a href="{% url 'produto:categoria' 'Camisas' %}" name="buscar">
            <img class="img-fluid" src="https://i.postimg.cc/0jh3GB3B/camisa-blocofinal.png" alt="">
        </a>
    </div>
</div>