{% load static %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="{% url 'produto:categoria' 'Moletons' %}" name="buscar">
                <img class="d-block w-100" src="https://i.postimg.cc/52t5SXPz/caro-1.png" alt="First slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'produto:categoria' 'Bermudas' %}" name="buscar">
                <img class="d-block w-100" src="https://i.postimg.cc/VkHqGzTV/caro-2.png" alt="Second slide">
            </a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'produto:categoria' 'Camisas' %}" name="buscar">
                <img class="d-block w-100" src="https://i.postimg.cc/65cLZrhw/caro-3.png" alt="Third slide">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <i class="fa-solid fa-chevron-left fa-lg" style="color: black;"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <i class="fa-solid fa-chevron-right fa-lg" style="color: black;"></i>
    </a>
</div>