{% extends 'produto/lista.html' %}
{% load static %}
{% load omfilters %}

{% block titulo %}{{ categoria }} em lançamento | {% endblock %}

<!--  Primeiro nome do subtitulo -->
{% block subtituloParaCategoria %}
<a href="{% url 'produto:lista' %}" style="color: #262727;">
    Produtos</a>
<span style="color: #939393;">
    <i class="fa-solid fa-2xs fa-angles-right"></i> {{categoria}}
</span>
{% endblock %}

<!--  Primeiro nome do select categoria -->
{% block produtoSelect %} {{categoria}} {% endblock %}

<!--  Modifica o link do 'value' para pesquisar somente na categoria escolhida -->
{% block ordernarLinkCategoria %}
<option selected>{% block ordenarSelect %}Lançamento{% endblock %}</option>
<option value="{% url 'produto:categoria_ord_nome' categoria %}">Nome</option>
<option value="{% url 'produto:categoria_ord_preco_menor' categoria %}">Menor preço</option>
<option value="{% url 'produto:categoria_ord_preco_maior' categoria %}">Maior preço</option>
<option value="{% url 'produto:categoria_ord_destaque' categoria %}">Destaque</option>
<option value="{% url 'produto:categoria' categoria %}">Lançamento</option>
{% endblock %}