{% extends 'produto/lista.html' %}
{% load static %}
{% load omfilters %}

{% block titulo %}Produtos Ord Nome | {% endblock %}

{% block subtitulo %}
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left mb-3">
        <a href="{% url 'produto:home' %}" style="color: #262727;">
            Página inicial
        </a>
        <span style="color: #939393;">
            <i class="fa-solid fa-2xs fa-angles-right"></i> Produtos
        </span>
        <span style="color: #939393;">
            <i class="fa-solid fa-2xs fa-angles-right"></i> Ordenar por nome
        </span>
    </div>
</div>
{% endblock %}

{% block ordernarSelect %}
<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ladoMobile mb-2">
    <span>Ordenar por: </span>
    <select class="form-select ml-2" aria-label="Default select example" onchange="location.href=this.value">

        <option selected>Nome</option>
        <option value="{% url 'produto:ord_nome' %}">Nome</option>
        <option value="#">Menor preço</option>
        <option value="#">Maior preço</option>
        <option value="#">Destaque</option>
        <option value="{% url 'produto:lista' %}">Lançamento</option>
    </select>
</div>
{% endblock %}